ul.mega-menu
  li
    span.mega-menu-title.text-uppercase Furniture
    ul
      li: a(href='#') Desk &amp; Benching
      li: a(href='#') Adjustable Desks
      li: a(href='#') File Cabinets
      li: a(href='#') Office Chairs
      li: a(href='#') Tables
      li: a(href='#') Storage Units
      li: a(href='#') Accessories
  li
    span.mega-menu-title.text-uppercase Lighting
    ul
      li: a(href='#') Ceiling Lights
      li: a(href='#') Kitchen Lighting
      li: a(href='#') Lamps
      li: a(href='#') Wall Lights
      li: a(href='#') Outdoor Lights
      li: a(href='#') Dimmers &amp; Controls
      li: a(href='#') Light Bulbs
  li
    span.mega-menu-title.text-uppercase Shop by Color
    .widget.widget-colors
      ul
        li
          a(href='#')
            span(style='background-color: #fff; border: 1px solid #dcdcdc;').color
            | White
        li
          a(href='#')
            span(style='background-color: #93c4ef;').color
            | Blue
        li
          a(href='#')
            span(style='background-color: #a7c04d;').color
            | Green
        li
          a(href='#')
            span(style='background-color: #ef0568;').color
            | Red
        li
          a(href='#')
            span(style='background-color: #ffce2b;').color
            | Yellow
        li
          a(href='#')
            span(style='background-color: #b5651d;').color
            | Brown
  li.banner-column
    a(href='#')&attributes(isNestedFile ? {'style': 'background-image: url(../img/banners/mega-menu.jpg);'} : {'style': 'background-image: url(img/banners/mega-menu.jpg);'})