// Related Products Carousel
h3.text-center.padding-top-2x.mt-2.padding-bottom-1x You May Also Like
// Carousel
.owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "margin": 30, "responsive": {"0":{"items":1},"576":{"items":2},"768":{"items":3},"991":{"items":4},"1200":{"items":4}} }')

  // Product
  .product-card
    .product-card-thumb 
      span.product-badge.text-danger Sale
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th10.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') Pendant Lamp
      h4.product-card-price
        del $54.00
        | $27.00

  // Product
  .product-card
    .product-card-thumb
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th11.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') Stylish Chair
      h4.product-card-price $417.00

  // Product
  .product-card
    .product-card-thumb
      span.product-rating.text-warning
        i.material-icons.star
        i.material-icons.star
        i.material-icons.star
        i.material-icons.star
        i.material-icons.star_border
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th07.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') Lounge Chair
      h4.product-card-price $1099.00

  // Product
  .product-card
    .product-card-thumb
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th16.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') Navy Box Bench
      h4.product-card-price $75.00

  // Product
  .product-card
    .product-card-thumb
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th09.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') Campfire Table
      h4.product-card-price $1087.00

  // Product
  .product-card.mb-30
    .product-card-thumb
      a(href='shop-single.html').product-card-link
      img(src='img/shop/th06.jpg', alt='Product')
      .product-card-buttons
        button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
          i.material-icons.favorite_border
        button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
    .product-card-details
      h3.product-card-title
        a(href='shop-single.html') LED Lighting
      h4.product-card-price $130.00
