//- To use only with sidebar-offcanvas
.sidebar-toggle.position-left
  i.material-icons.filter_list

aside.sidebar.sidebar-offcanvas.position-left
  //- To use only with sidebar-offcanvas
  span.sidebar-close
    i.material-icons.icon_close

  // Widget Categories
  section.widget.widget-categories.pt-0
    h3.widget-title Shop Categories
    ul
      li.has-children.expanded
        a(href='#') Desks &amp; Benching
        span (1138)
        ul
          li
            a(href='#') Executive Desks
            span (508)
            ul
              li: a(href='#') Standing Desks
              li: a(href='#') Benching Desks
          li
            a(href='#') Single Desks
            span (423)
            ul
              li: a(href='#') Standing Desks
              li: a(href='#') Benching Desks
          li
            a(href='#') File Cabinets
            span (97)
          li
            a(href='#') Office Chairs
            span (110)
      li.has-children
        a(href='#') Lighting
        span (2356)
        ul
          li
            a(href='#') Indoor Lights
            span (1032)
            ul
              li: a(href='#') Ceiling Lights
              li: a(href='#') Kitchen Lighting
              li: a(href='#') Wall Lights
              li: a(href='#') Lamps
          li
            a(href='#') Outdoor Lights
            span (937)
            ul
              li: a(href='#') Light Stands
              li: a(href='#') Wall Lights
              li: a(href='#') Light Bulbs
              li: a(href='#') Lamps
          li
            a(href='#') Dimmers &amp; Controls
            span (386)
      li.has-children
        a(href='#') Storage Units
        span (420)
        ul
          li
            a(href='#') Bookcases
            span (180)
          li
            a(href='#') Box Seats &amp; Benches
            span (132)
          li
            a(href='#') Cupboards
            span (47)
          li
            a(href='#') Caskets
            span (61)
      li.has-children
        a(href='#') Furniture Accessories
        span (874)
        ul
          li
            a(href='#') Cable &amp; Power Management
            span (211)
          li
            a(href='#') Desk Add Ons
            span (195)
          li
            a(href='#') Desk Risers
            span (159)
          li
            a(href='#') Lamps
            span (203)
          li
            a(href='#') Monitor Arms
            span (106)

  // Widget Sorting
  section.widget.widget-icon-list
    h3.widget-title Sort By
    ul
      li
        a(href='#')
          i.material-icons.sort
          | Default
      li
        a(href='#')
          i.material-icons.favorite_border
          | Popularity
      li
        a(href='#')
          i.material-icons.vertical_align_top
          | Last entries
      li
        a(href='#')
          i.material-icons.star_border
          | Average rating
      li
        a(href='#')
          i.material-icons.sort_by_alpha
          | Alphabetically

  // Widget Price Range
  section.widget.widget-categories
    h3.widget-title Price Range
    form(method='post' data-start-min='250' data-start-max='650' data-min='0' data-max='1000' data-step='1').price-range-slider
      .ui-range-slider
      footer.ui-range-slider-footer
        .column
          button(type='submit').btn.btn-outline-primary.btn-sm Filter
        .column
          .ui-range-values
            .ui-range-value-min
              | $<span></span>
              input(type='hidden')
            | &nbsp;-&nbsp;
            .ui-range-value-max
              | $<span></span>
              input(type='hidden')

  // Widget Brand Filter
  section.widget
    h3.widget-title Filter by Brand
    .custom-control.custom-checkbox
      input(type='checkbox' id='aspen').custom-control-input
      label(for='aspen').custom-control-label
        | Aspen Home&nbsp;
        span.text-muted (254)
    .custom-control.custom-checkbox
      input(type='checkbox' id='bernhardt').custom-control-input
      label(for='bernhardt').custom-control-label
        | Bernhardt&nbsp;
        span.text-muted (39)
    .custom-control.custom-checkbox
      input(type='checkbox' id='allen').custom-control-input
      label(for='allen').custom-control-label
        | Ethan Allen&nbsp;
        span.text-muted (128)
    .custom-control.custom-checkbox
      input(type='checkbox' id='harris').custom-control-input
      label(for='harris').custom-control-label
        | Henkle Harris&nbsp;
        span.text-muted (310)
    .custom-control.custom-checkbox
      input(type='checkbox' id='flanigan').custom-control-input
      label(for='flanigan').custom-control-label
        | Raymour &amp; Flanigan&nbsp;
        span.text-muted (42)
  
  // Widget Colors
  section.widget.widget-colors
    h3.widget-title Filter by Color
    ul
      li
        a(href='#')
          span(style='background-color: #93c4ef;').color
          | Blue
      li
        a(href='#')
          span(style='background-color: #a7c04d;').color
          | Green
      li
        a(href='#')
          span(style='background-color: #ef0568;').color
          | Red
      li
        a(href='#')
          span(style='background-color: #ffce2b;').color
          | Yellow

  // Widget Tags
  section.widget.widget-tags
    h3.widget-title Popular Tags
    a(href='#').tag #furniture
    a(href='#').tag #lighting
    a(href='#').tag #LED
    a(href='#').tag #interior
    span.tag.active #active tag
    a(href='#').tag #office supplies
    a(href='#').tag #storage
