// Toolbar
.toolbar
  .inner
    a(href='#mobileMenu').toolbar-toggle.mobile-menu-toggle
      i.material-icons.menu
    a(href='#search').toolbar-toggle.search-toggle
      i.material-icons.search
    a(href='#account').toolbar-toggle
      i.material-icons.person
    a(href='#cart').toolbar-toggle
      i
        span.material-icons.shopping_basket
        span.count 3

  // Toolbar Dropdown
  .toolbar-dropdown
    include toolbar-mobile-menu
    include toolbar-search
    include toolbar-account
    include toolbar-cart