extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Forms'
  - var isNestedFile = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Forms'}]

//- Page Content
block content
  .container.padding-bottom-2x
    .row
      .col-lg-9.col-md-8.order-md-2
        h6.text-muted.text-lg.text-uppercase Shapes &amp; Sizes
        hr.margin-bottom-1x
        .row
          .col-sm-4
            .form-group
              label(for='large-rounded-input') Large rounded input
              input(type='text' id='large-rounded-input' placeholder='Large rounded input').form-control.form-control-lg
            .form-group
              label(for='normal-rounded-input') Normal rounded input
              input(type='text' id='normal-rounded-input' placeholder='Normal rounded input').form-control
            .form-group
              label(for='small-rounded-input') Small rounded input
              input(type='text' id='small-rounded-input' placeholder='Small rounded input').form-control.form-control-sm
          .col-sm-4
            .form-group
              label(for='large-pill-input') Large pill input
              input(type='text' id='large-pill-input' placeholder='Large pill input').form-control.form-control-pill.form-control-lg
            .form-group
              label(for='normal-pill-input') Normal pill input
              input(type='text' id='normal-pill-input' placeholder='Normal pill input').form-control.form-control-pill
            .form-group
              label(for='small-pill-input') Small pill input
              input(type='text' id='small-pill-input' placeholder='Small pill input').form-control.form-control-pill.form-control-sm
          .col-sm-4
            .form-group
              label(for='large-square-input') Large square input
              input(type='text' id='large-square-input' placeholder='Large square input').form-control.form-control-square.form-control-lg
            .form-group
              label(for='normal-square-input') Normal square input
              input(type='text' id='normal-square-input' placeholder='Normal square input').form-control.form-control-square
            .form-group
              label(for='small-square-input') Small square input
              input(type='text' id='small-square-input' placeholder='Small square input').form-control.form-control-square.form-control-sm
        h6.text-muted.text-lg.text-uppercase.margin-top-2x Input types
        hr.margin-bottom-1x
        .form-group.row
          label(for='text-input').col-2.col-form-label Text
          .col-10
            input(type='text' id='text-input' value='Artisanal kale').form-control
        .form-group.row
          label(for='search-input').col-2.col-form-label Search
          .col-10
            input(type='search' id='search-input' value='How do I shoot web').form-control
        .form-group.row
          label(for='email-input').col-2.col-form-label Email
          .col-10
            input(type='email' id='email-input' value='email@example.com').form-control
        .form-group.row
          label(for='url-input').col-2.col-form-label URL
          .col-10
            input(type='url' id='url-input' value='https://getbootstrap.com').form-control
        .form-group.row
          label(for='tel-input').col-2.col-form-label Phone
          .col-10
            input(type='tel' id='tel-input' value='1-(770)-334-2518').form-control
        .form-group.row
          label(for='pass-input').col-2.col-form-label Password
          .col-10
            input(type='password' id='pass-input' value='mypasswordexample').form-control
        .form-group.row
          label(for='textarea-input').col-2.col-form-label Textarea
          .col-10
            textarea(id='textarea-input' rows='5').form-control Hello World!
        .form-group.row
          label(for='select-input').col-2.col-form-label Select
          .col-10
            select(id='select-input').form-control
              option Choose option...
              option Option item 1
              option Option item 2
              option Option item 3
        .form-group.row
          label(for='file-input').col-2.col-form-label File
          .col-10
            .custom-file
              input(type='file' id='file-input').custom-file-input
              label(for='file-input').custom-file-label Choose file...
        .form-group.row
          label(for='number-input').col-2.col-form-label Number
          .col-10
            input(type='number' id='number-input' value='37').form-control
        .form-group.row
          label(for='date-time-input').col-2.col-form-label Date and time
          .col-10
            input(type='datetime-local' id='date-time-input').form-control
        .form-group.row
          label(for='date-input').col-2.col-form-label Date
          .col-10
            input(type='date' id='date-input' value='2017-06-13').form-control
        .form-group.row
          label(for='month-input').col-2.col-form-label Month
          .col-10
            input(type='month' id='month-input' value='2017-06').form-control
        .form-group.row
          label(for='week-input').col-2.col-form-label Week
          .col-10
            input(type='week' id='week-input' value='2017-W33').form-control
        .form-group.row
          label(for='time-input').col-2.col-form-label Time
          .col-10
            input(type='time' id='time-input' value='14:45:00').form-control
        .form-group.row
          label(for='color-input').col-2.col-form-label Color
          .col-10
            input(type='color' id='color-input' value='#f5f5f5').form-control

        h6.text-muted.text-lg.text-uppercase.padding-top-2x Checkboxes &amp; Radio buttons
        hr.margin-bottom-1x
        .row
          .col-sm-6.form-group
            .custom-control.custom-checkbox
              input(type='checkbox' id='ex-check-1').custom-control-input
              label(for='ex-check-1').custom-control-label Check this checkbox
            .custom-control.custom-checkbox
              input(type='checkbox' id='ex-check-2' checked).custom-control-input
              label(for='ex-check-2').custom-control-label Uncheck this checkbox
            .custom-control.custom-checkbox
              input(type='checkbox' id='ex-check-3' disabled).custom-control-input
              label(for='ex-check-3').custom-control-label Disabled checkbox
          .col-sm-6.form-group
            .custom-control.custom-radio
              input(type='radio' id='ex-radio-1' name='radio').custom-control-input
              label(for='ex-radio-1').custom-control-label Toggle this radio
            .custom-control.custom-radio
              input(type='radio' id='ex-radio-2' name='radio' checked).custom-control-input
              label(for='ex-radio-2').custom-control-label Toggle this radio
            .custom-control.custom-radio
              input(type='radio' id='ex-radio-3' name='radio' disabled).custom-control-input
              label(for='ex-radio-3').custom-control-label Disabled radio
        .form-group
          .custom-control.custom-checkbox.custom-control-inline
            input(type='checkbox' id='ex-check-4').custom-control-input
            label(for='ex-check-4').custom-control-label Check this checkbox
          .custom-control.custom-checkbox.custom-control-inline
            input(type='checkbox' id='ex-check-5' checked).custom-control-input
            label(for='ex-check-5').custom-control-label Uncheck this checkbox
          .custom-control.custom-checkbox.custom-control-inline
            input(type='checkbox' id='ex-check-6' disabled).custom-control-input
            label(for='ex-check-6').custom-control-label Disabled checkbox
        .form-group
          .custom-control.custom-radio.custom-control-inline
            input(type='radio' id='ex-radio-4' name='radio2').custom-control-input
            label(for='ex-radio-4').custom-control-label Toggle this radio
          .custom-control.custom-radio.custom-control-inline
            input(type='radio' id='ex-radio-5' name='radio2' checked).custom-control-input
            label(for='ex-radio-5').custom-control-label Toggle this radio
          .custom-control.custom-radio.custom-control-inline
            input(type='radio' id='ex-radio-6' name='radio2' disabled).custom-control-input
            label(for='ex-radio-6').custom-control-label Disabled radio
        
        h6.text-muted.text-normal.text-uppercase.margin-top-2x Validation: Status Text
        hr.margin-bottom-1x
        form(novalidate).needs-validation
          .row
            .col-sm-6.form-group
              label(for='validationCustom01') First name
              input(type='text' id='validationCustom01' placeholder='First name' value='John' required).form-control
              .valid-feedback Looks good!
            .col-sm-6.form-group
              label(for='validationCustom02') Last name
              input(type='text' id='validationCustom02' placeholder='Last name' value='Doe' required).form-control
              .valid-feedback Looks good!
          .row
            .col-sm-6.form-group
              label(for='validationCustomUsername') Username
              input(type='text' id='validationCustomUsername' placeholder='Username' required).form-control
              .invalid-feedback Please choose a username.
              .valid-feedback Looks good!
            .col-sm-6.form-group
              label(for='validationCustom03') City
              select(id='validationCustom03' required).form-control
                option(value='') Choose city...
                option(value='Dallas') Dallas
                option(value='Houston') Houston
                option(value='Los Angeles') Los Angeles
                option(value='Miami') Miami
                option(value='New York') New York
              .invalid-feedback Please provide a valid city.
              .valid-feedback Looks good!
          .form-group
            .custom-control.custom-checkbox
              input(type='checkbox' id='invalidCheck' required).custom-control-input
              label(for='invalidCheck').custom-control-label Agree to terms and conditions
              .invalid-feedback You must agree before submitting.
          button(type='submit').btn.btn-primary Submit Form
        
        h6.text-muted.text-normal.text-uppercase.margin-top-2x Validation: Status Tooltip
        hr.margin-bottom-1x
        form(novalidate).needs-validation
          .row
            .col-sm-6.form-group
              label(for='validationCustom04') First name
              input(type='text' id='validationCustom04' placeholder='First name' value='John' required).form-control
              .valid-tooltip Looks good!
            .col-sm-6.form-group
              label(for='validationCustom05') Last name
              input(type='text' id='validationCustom05' placeholder='Last name' value='Doe' required).form-control
              .valid-tooltip Looks good!
          .row
            .col-sm-6.form-group
              label(for='validationCustomUsername2') Username
              input(type='text' id='validationCustomUsername2' placeholder='Username' required).form-control
              .invalid-tooltip Please choose a username.
              .valid-tooltip Looks good!
            .col-sm-6.form-group
              label(for='validationCustom06') City
              select(id='validationCustom06' required).form-control
                option(value='') Choose city...
                option(value='Dallas') Dallas
                option(value='Houston') Houston
                option(value='Los Angeles') Los Angeles
                option(value='Miami') Miami
                option(value='New York') New York
              .invalid-tooltip Please provide a valid city.
              .valid-tooltip Looks good!
          .form-group
            .custom-control.custom-checkbox
              input(type='checkbox' id='invalidCheck2' required).custom-control-input
              label(for='invalidCheck2').custom-control-label Agree to terms and conditions
              .invalid-tooltip You must agree before submitting.
          button(type='submit').btn.btn-primary Submit Form
        h6.text-muted.text-lg.text-uppercase.margin-top-2x Disabled states
        hr.margin-bottom-1x
        .row
          .col-lg-10
            form
              fieldset(disabled)
                .form-group
                  label(for='disabledTextInput') Disabled input
                  input(type='text' id='disabledTextInput' placeholder='Disabled input').form-control
                .form-group
                  label(for='disabledSelect') Disabled select
                  select(id='disabledSelect').form-control
                    option Disabled select
                .form-group
                  .custom-control.custom-checkbox
                    input(type='checkbox' id='ex-check-10').custom-control-input
                    label(for='ex-check-10').custom-control-label Can't check this
                button(type='submit' disabled).btn.btn-primary.margin-top-none Submit
        h6.text-muted.text-lg.text-uppercase.margin-top-2x Input group
        hr.margin-bottom-1x
        .row
          .col-sm-4.margin-bottom-1x
            .input-group
              input(type='text' placeholder='Username').form-control.form-control-lg
              span.input-group-addon
                i.icon-user
          .col-sm-4.margin-bottom-1x
            .input-group
              input(type='email' placeholder='Email').form-control
              span.input-group-addon
                i.icon-mail
          .col-sm-4.margin-bottom-1x
            .input-group
              input(type='password' placeholder='Password').form-control.form-control-sm
              span.input-group-addon
                i.icon-lock
        .row
          .col-sm-6.margin-bottom-1x
            form(method='get').input-group.form-group
              span.input-group-btn
                button(type='submit')
                  i.icon-search
              input(type='search' placeholder='Search site').form-control
          .col-sm-6.margin-bottom-1x
            form(method='get').input-group.form-group
              span.input-group-btn
                button(type='submit')
                  i.icon-send
              input(type='email' placeholder='Subscribe to newsletter').form-control
      
      .col-lg-3.col-md-4.order-md-1
        //- Side Menu
        include ../partials/side-menu
        .padding-bottom-1x.mb-2.hidden-md-up