extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Modal'
  - var isNestedFile = true
  - var isModalExample = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Modal'}]

//- Page Content
block content

  .container.padding-bottom-3x.mb-2
    .row
      .col-lg-9.col-md-8.order-md-2
        h6.text-muted.text-lg.text-uppercase Modal Components
        hr.margin-bottom-1x
        .example-modal
          .modal
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h4.modal-title Modal title
                  button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  p Modal body text goes here.
                .modal-footer
                  button(type='button' class='btn btn-outline-secondary btn-sm' data-dismiss='modal') Close
                  button(type='button' class='btn btn-primary btn-sm') Save changes
        h6.text-muted.text-lg.text-uppercase.padding-top-2x Live Demos
        hr.margin-bottom-1x
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalSmall') Small Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalDefault') Default Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalLarge') Large Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalXL') Extra Large Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalCentered') Vertically Centered Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalLong') Long Modal
        button(type='button' class='btn btn-outline-primary' data-toggle='modal' data-target='#modalScroll') Scrollable Content
      
      .col-lg-3.col-md-4.order-md-1
        //- Side Menu
        include ../partials/side-menu