extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Toast Notifications'
  - var isNestedFile = true
  - var isBSToast = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Toast Notifications'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .row
      .col-lg-9.col-md-8.order-md-2
        p You can alter toast notification look and behaviour via flexible data API 
          code data-toast-*
          | :
        ul.list-unstyled
          li
            code 'type' = 'none' (default) / 'info' / 'success' / 'warning' / 'danger'
            span.text-gray  To alter look of the toast.
          li
            code 'icon' = 'icon-heart'
            span.text-gray  Use class of built-in Feather icons or any othe icon pack you use.
          li
            code 'position' = 'topRight' / 'topCenter' / 'bottomRight' / 'bottomCenter' / 'bottomLeft' / 'topLeft'
            span.text-gray  Where the toast notification appears on the page.
          li
            code 'title' = '' (string)
            span.text-gray  Toast notification title.
          li
            code 'message' = '' (string)
            span.text-gray  Toast notification message.
        h6.text-muted.text-lg.text-uppercase.padding-top-1x.mt-4 Color Variations
        hr.margin-bottom-1x
        .row
          .col-sm-6
            .iziToast
              .iziToast-body
                strong Default
                p toast notification without icon
              button.iziToast-close
          .col-sm-6
            .iziToast.iziToast-info
              .iziToast-body(style='padding-left: 33px;')
                i.iziToast-icon.icon-help-circle
                strong Info
                p toast notification with icon
              button.iziToast-close
        .row
          .col-sm-6
            .iziToast.iziToast-success
              .iziToast-body(style='padding-left: 33px;')
                i.iziToast-icon.icon-check-circle
                strong Success
                p toast notification with icon
              button.iziToast-close
          .col-sm-6
            .iziToast.iziToast-warning
              .iziToast-body(style='padding-left: 33px;')
                i.iziToast-icon.icon-alert-triangle
                strong Warning
                p toast notification with icon
              button.iziToast-close
        .iziToast.iziToast-danger
          .iziToast-body(style='padding-left: 33px;')
            i.iziToast-icon.icon-slash
            strong Danger
            p toast notification with icon
          button.iziToast-close
        
        h6.text-muted.text-lg.text-uppercase.padding-top-2x Toasts Position in Action
        hr.margin-bottom-1x
        button(data-toast data-toast-position='topRight' data-toast-type='info' data-toast-icon='icon-help-circle' data-toast-title='Info' data-toast-message='toast notification with icon').btn.btn-outline-secondary Info Top Right
        button(data-toast data-toast-position='topLeft' data-toast-type='success' data-toast-icon='icon-check-circle' data-toast-title='Success' data-toast-message='toast notification with icon').btn.btn-outline-secondary Success Top Left
        button(data-toast data-toast-position='bottomRight' data-toast-type='warning' data-toast-icon='icon-alert-triangle' data-toast-title='Warning' data-toast-message='toast notification with icon').btn.btn-outline-secondary Warning Bottom Right
        button(data-toast data-toast-position='bottomLeft' data-toast-type='danger' data-toast-icon='icon-slash' data-toast-title='Danger' data-toast-message='toast notification with icon').btn.btn-outline-secondary Danger Bottom Left
        button(data-toast data-toast-position='topCenter' data-toast-icon='icon-clock' data-toast-title='Default' data-toast-message='toast notification with icon').btn.btn-outline-secondary Default Top Center
        button(data-toast data-toast-position='bottomCenter' data-toast-icon='icon-bell' data-toast-title='Default' data-toast-message='toast notification with icon').btn.btn-outline-secondary Default Bottom Center

        h6.text-muted.text-normal.text-uppercase.padding-top-2x Default Bootstrap Toast
        hr.margin-bottom-1x
        div(role='alert' aria-live='assertive' aria-atomic='true' data-autohide='false').toast.fade.show
          .toast-header
            div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
            strong.mr-auto Bootstrap
            small 11 mins ago
            button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
              span(aria-hidden='true') &times;
          .toast-body
            | Hello, world! This is a toast message.
        .pt-2
          button(data-toggle='toast' data-toast-id='toast-top-center').btn.btn-outline-secondary Top Center
          button(data-toggle='toast' data-toast-id='toast-top-right').btn.btn-outline-secondary Top Right
          button(data-toggle='toast' data-toast-id='toast-top-left').btn.btn-outline-secondary Top Left
          button(data-toggle='toast' data-toast-id='toast-bottom-center').btn.btn-outline-secondary Bottom Center
          button(data-toggle='toast' data-toast-id='toast-bottom-right').btn.btn-outline-secondary Bottom Right
          button(data-toggle='toast' data-toast-id='toast-bottom-left').btn.btn-outline-secondary Bottom Left
      
      .col-lg-3.col-md-4.order-md-1
        //- Side Menu
        include ../partials/side-menu