extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Single Product'
  - var parentMenu = 'Shop'
  - var menuTitle = 'Single Product'
  - var isGallery = true
  - var isModalReview = true
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop', 'link': 'shop-grid-ls.html'}, {'title': 'Single Product'}]

//- Page Content
block content
  .container.padding-bottom-3x
    .row

      // Poduct Gallery
      .col-md-6
        .product-gallery
          .gallery-wrapper
            .gallery-item.video-btn.text-center
              a(href='#' data-toggle='tooltip' data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="640" src="https://www.youtube.com/embed/CjNjcrQZtd8" frameborder="0" allowfullscreen></iframe></div></div>' title='Watch video')
          span.product-badge.bg-danger Sale
          .product-carousel.owl-carousel.gallery-wrapper
            .gallery-item(data-hash='one')
              a(href='img/shop/single/01.jpg' data-size='1000x667')
                img(src='img/shop/single/01.jpg' alt='Product')
            .gallery-item(data-hash='two')
              a(href='img/shop/single/02.jpg' data-size='1000x667')
                img(src='img/shop/single/02.jpg' alt='Product')
            .gallery-item(data-hash='three')
              a(href='img/shop/single/03.jpg' data-size='1000x667')
                img(src='img/shop/single/03.jpg' alt='Product')
            .gallery-item(data-hash='four')
              a(href='img/shop/single/04.jpg' data-size='1000x667')
                img(src='img/shop/single/04.jpg' alt='Product')
            .gallery-item(data-hash='five')
              a(href='img/shop/single/05.jpg' data-size='1000x667')
                img(src='img/shop/single/05.jpg' alt='Product')
          ul.product-thumbnails
            li.active
              a(href='#one'): img(src='img/shop/single/th01.jpg' alt='Product')
            li
              a(href='#two'): img(src='img/shop/single/th02.jpg' alt='Product')
            li
              a(href='#three'): img(src='img/shop/single/th03.jpg' alt='Product')
            li
              a(href='#four'): img(src='img/shop/single/th04.jpg' alt='Product')
            li
              a(href='#five'): img(src='img/shop/single/th05.jpg' alt='Product')

      // Product Info
      .col-md-6
        .padding-top-2x.mt-2.hidden-md-up
        .sp-categories.pb-3
          i.icon-tag
          a(href='#') Drones,
          a(href='#') Action cameras
        h2.mb-3 GoPro Karma Camera Drone
        span.h3.d-block
          del.text-muted $958.00
          | &nbsp; $899.00
        p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo... <a href='#details' class='scroll-to'>More info</a>
        .row.margin-top-1x
          .col-sm-6
            .form-group
              label(for='size') Choose color
              select(id='size').form-control
                option White/Gray/Black
                option Black
                option Black/White/Red
          .col-sm-6
            .form-group
              label(for='color') Battery capacity
              select(id='color').form-control
                option 5100 mAh
                option 6200 mAh
                option 8000 mAh
        .row.align-items-end.pb-4
          .col-sm-4
            .form-group.mb-0
              label(for='quantity') Quantity
              select(id='quantity').form-control
                option 1
                option 2
                option 3
                option 4
                option 5
          .col-sm-8
            .pt-4.hidden-sm-up
            button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-block.m-0
              i.icon-bag
              |  Add to Cart
        .pt-1.mb-4
          span.text-medium SKU:
          |  #21457832
        hr.mb-2
        .d-flex.flex-wrap.justify-content-between
          .mt-2.mb-2
            button.btn.btn-outline-secondary.btn-sm.btn-wishlist
              i.icon-heart
              | &nbsp;To Wishlist
            button.btn.btn-outline-secondary.btn-sm.btn-compare
              i.icon-repeat
              | &nbsp;Compare
          .mt-2.mb-2
            span.text-muted Share:&nbsp;&nbsp;
            .d-inline-block
              a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook
                i.socicon-facebook
              a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter
                i.socicon-twitter
              a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-rounded.sb-instagram
                i.socicon-instagram
              a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-rounded.sb-google-plus
                i.socicon-googleplus
    
  // Product Details
  #details.bg-secondary.padding-top-3x.padding-bottom-2x.mb-3
    .container
      .row
        .col-md-6
          h3.h4 Details
          p.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
          h3.h4 Features
          ul.list-icon.mb-4
            li
              i.icon-check.text-success
              | Capture 4K30 Video and 12MP Photos
            li
              i.icon-check.text-success
              | Game-Style Controller with Touchscreen
            li
              i.icon-check.text-success
              | View Live Camera Feed
            li
              i.icon-check.text-success
              | Full Control of HERO6 Black
            li
              i.icon-check.text-success
              | Use App for Dedicated Camera Operation
        .col-md-6
          h3.h4 Specifications
          ul.list-unstyled.mb-4
            li <strong>Weight:</strong> 35.5oz (1006g)
            li <strong>Maximum Speed:</strong> 	35 mph (15 m/s)
            li <strong>Maximum Distance:</strong> 	Up to 9,840ft (3,000m)
            li <strong>Operating Frequency:</strong> 2.4GHz
            li <strong>Manufacturer:</strong> GoPro, USA
          h3.h4 Shipping Options:
          ul.list-unstyled.mb-4
            li <strong>Courier:</strong> 2 - 4 days, $22.50
            li <strong>Local Shipping:</strong> up to one week, $10.00
            li <strong>UPS Ground Shipping:</strong> 4 - 6 days, $18.00
            li <strong>Unishop Global Export:</strong> 3 - 4 days, $25.00
  // Reviews
  .container.padding-top-2x
    .row
      .col-md-4.mb-4
        .card.border-default
          .card-body
            .text-center
              .d-inline.align-baseline.display-3.mr-1 4.2
              .d-inline.align-baseline.text-sm.text-warning.mr-1
                +rating-stars([
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star'}
                ])
            .pt-3
              label.text-medium.text-sm 5 stars <span class='text-muted'>- 38</span>
              .progress.margin-bottom-1x
                .progress-bar.bg-warning(role='progressbar' style='width: 75%; height: 2px;' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
              label.text-medium.text-sm 4 stars <span class='text-muted'>- 10</span>
              .progress.margin-bottom-1x
                .progress-bar.bg-warning(role='progressbar' style='width: 20%; height: 2px;' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
              label.text-medium.text-sm 3 stars <span class='text-muted'>- 3</span>
              .progress.margin-bottom-1x
                .progress-bar.bg-warning(role='progressbar' style='width: 7%; height: 2px;' aria-valuenow='7' aria-valuemin='0' aria-valuemax='100')
              label.text-medium.text-sm 2 stars <span class='text-muted'>- 1</span>
              .progress.margin-bottom-1x
                .progress-bar.bg-warning(role='progressbar' style='width: 3%; height: 2px;' aria-valuenow='3' aria-valuemin='0' aria-valuemax='100')
              label.text-medium.text-sm 1 star <span class='text-muted'>- 0</span>
              .progress.mb-2
                .progress-bar.bg-warning(role='progressbar' style='width: 0; height: 2px;' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
            .pt-2
              a(href='#' data-toggle='modal' data-target='#leaveReview').btn.btn-warning.btn-block Leave a Review
      .col-md-8
        h3.padding-bottom-1x Latest Reviews
        // Review
        .comment
          .comment-author-ava
            img(src='img/reviews/02.jpg' alt='Comment author')
          .comment-body
            .comment-header.d-flex.flex-wrap.justify-content-between
              h4.comment-title My husband love his new...
              .mb-2
                +rating-stars([
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star'}
                ])
            p.comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
            .comment-footer
              span.comment-meta Maggie Scott
        // Review
        .comment
          .comment-author-ava
            img(src='img/reviews/03.jpg' alt='Comment author')
          .comment-body
            .comment-header.d-flex.flex-wrap.justify-content-between
              h4.comment-title Awesome quality for the price
              .mb-2
                +rating-stars([
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'},
                  {'class': 'icon-star filled'}
                ])
            p.comment-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            .comment-footer
              span.comment-meta Jacob Hammond
        // View All Button
        a(href='#').btn.btn-secondary.btn-block View All Reviews

  .container.padding-bottom-3x.mb-1              
    include partials/related-products-carousel