extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'About Us'
  - var parentMenu = 'Pages'
  - var menuTitle = 'About Us'
  - var isGallery = true
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'About Us'}]

//- Page Content
block content
  .container
    section.row.align-items-center.padding-bottom-2x
      .col-md-5
        img(src='img/features/01.jpg' alt='Online Shopping').d-block.w-270.m-auto
      .col-md-7.text-md-left.text-center
        .mt-30.hidden-md-up
        h2 Search, Select, Buy Online.
        p.text-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit.
        a(href='shop-grid-ls.html').text-decoration-none
          | View Products&nbsp;
          i.material-icons.keyboard_arrow_right.lead
    hr
    section.row.align-items-center.padding-top-2x.padding-bottom-2x
      .col-md-5.order-md-2
        img(src='img/features/02.jpg' alt='Delivery').d-block.w-270.m-auto
      .col-md-7.order-md-1.text-md-left.text-center
        .mt-30.hidden-md-up
        h2 Fast Delivery Worldwide.
        p.text-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit.
        a(href='#').text-decoration-none
          | Shipping Details&nbsp;
          i.material-icons.keyboard_arrow_right.lead
    hr
    section.row.align-items-center.padding-top-2x.padding-bottom-2x
      .col-md-5
        img(src='img/features/03.jpg' alt='Mobile App').d-block.w-270.m-auto
      .col-md-7.text-md-left.text-center
        .mt-30.hidden-md-up
        h2 Great Mobile App. Shop On The Go.
        p.text-sm.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam.
        a(href='#').market-button.apple-button
          span.mb-subtitle Download on the
          span.mb-title App Store
        a(href='#').market-button.google-button
          span.mb-subtitle Download on the
          span.mb-title Google Play
        a(href='#').market-button.windows-button
          span.mb-subtitle Download on the
          span.mb-title Windows Store
    hr
    section.row.align-items-center.padding-top-2x.padding-bottom-3x
      .col-md-5.order-md-2
        img(src='img/features/04.jpg' alt='Delivery').d-block.w-270.m-auto
      .col-md-7.order-md-1.text-md-left.text-center
        .mt-30.hidden-md-up
        h2 Shop Offline. Cozy Outlet Stores.
        p.text-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit.
        a(href='contacts.html').text-decoration-none
          | See Outlet Stores&nbsp;
          i.material-icons.keyboard_arrow_right.lead
  section(style='background-image: url(img/backgrounds/video_popup.jpg);').fw-section.padding-top-9x.padding-bottom-9x
    .container
      .gallery-wrapper.text-center
        .gallery-item.video-btn.text-center
          a(href='#' data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="640" src="https://player.vimeo.com/video/67001156?color=dc9814&title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe></div></div>')
          span.caption.text-center Unishop - your reliable partner

  section.container.padding-bottom-2x.mb-2
    .text-center.padding-top-3x.mb-30
      h2.mb-3 Our Core Team
      p.text-muted.mb-5 People behind your awesome shopping experience.
    section.row
      .col-md-3.col-sm-6.mb-30.text-center
        img(src='img/team/01.jpg' alt='Team').d-block.w-150.mx-auto.img-thumbnail.rounded.mb-2
        h6 Grace Wright
        p.text-muted.mb-2 Founder, CEO
        .social-bar
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-rounded.sb-google-plus
            i.socicon-googleplus
      .col-md-3.col-sm-6.mb-30.text-center
        img(src='img/team/02.jpg' alt='Team').d-block.w-150.mx-auto.img-thumbnail.rounded.mb-2
        h6 Taylor Jackson
        p.text-muted.mb-2 Financial Director
        .social-bar
          a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-rounded.sb-skype
            i.socicon-skype
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-rounded.sb-paypal
            i.socicon-paypal
      .col-md-3.col-sm-6.mb-30.text-center
        img(src='img/team/03.jpg' alt='Team').d-block.w-150.mx-auto.img-thumbnail.rounded.mb-2
        h6 Quinton Cross
        p.text-muted.mb-2 Marketing Director
        .social-bar
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-rounded.sb-google-plus
            i.socicon-googleplus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-rounded.sb-email
            i.socicon-mail
      .col-md-3.col-sm-6.mb-30.text-center
        img(src='img/team/04.jpg' alt='Team').d-block.w-150.mx-auto.img-thumbnail.rounded.mb-2
        h6 Liana Mullen
        p.text-muted.mb-2 Lead Designer
        .social-bar
          a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-rounded.sb-behance
            i.socicon-behance
          a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-rounded.sb-dribbble
            i.socicon-dribbble
          a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-rounded.sb-instagram
            i.socicon-instagram
