extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Home'
  - var menuTitle = 'Hero Slider'

//- Page Content
block content

  // Hero Slider
  section.hero-slider
    .owl-carousel.large-controls.dots-inside.pb-4(data-owl-carousel='{ "nav": true, "dots": true, "loop": true, "autoplay": true, "autoplayTimeout": 8000 }')
      .container-fluid
        .row.align-items-center
          .col-md-6
            .pr-3.pt-5.pb-0.py-md-5
              img(src='img/hero-slider/01.png', alt='Product').d-block
          .col-xl-4.col-md-6
            .padding-top-3x.padding-bottom-3x.px-3.px-lg-5.text-center.text-md-left.from-bottom
              h2 Check Our New Collection Of Lounge Seating Furniture
              p.text-sm.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              a(href='shop-boxed-ls.html').btn.btn-primary.mx-0.scale-up.delay-1 View Collection
      .container-fluid
        .row.align-items-center
          .col-md-6
            .pr-3.pt-5.pb-0.py-md-5
              img(src='img/hero-slider/02.png', alt='Product').d-block
          .col-xl-4.col-md-6
            .padding-top-3x.padding-bottom-3x.px-3.px-lg-5.text-center.text-md-left.from-bottom
              h2 Featured Collection Of Minimal &amp; Modern Office Desks
              p.text-sm.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              a(href='shop-boxed-ls.html').btn.btn-primary.mx-0.scale-up.delay-1 View Collection
      .container-fluid
        .row.align-items-center
          .col-md-6
            .pr-3.pt-5.pb-0.py-md-5
              img(src='img/hero-slider/03.png', alt='Product').d-block
          .col-xl-4.col-md-6
            .padding-top-3x.padding-bottom-3x.px-3.px-lg-5.text-center.text-md-left.from-bottom
              h2 Featured Collection Of Stylish Indoor Lighting Fixtures
              p.text-sm.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              a(href='shop-boxed-ls.html').btn.btn-primary.mx-0.scale-up.delay-1 View Collection

  // Top Categories
  section.container.padding-top-3x.padding-bottom-3x
    h3.text-center.mb-30 Top Categories
    .row
      .col-md-3.col-sm-6.mb-30
        a(href='shop-boxed-ls.html').category-card.flex-wrap.text-center.pt-0
          .category-card-thumb.w-100
            img(src='img/shop/categories/03.jpg', alt='Category')
          .category-card-info.w-100
            h3.category-card-title Seating
            h4.category-card-subtitle Starting from $269.00
      .col-md-3.col-sm-6.mb-30
        a(href='shop-boxed-ls.html').category-card.flex-wrap.text-center.pt-0
          .category-card-thumb.w-100
            img(src='img/shop/categories/04.jpg', alt='Category')
          .category-card-info.w-100
            h3.category-card-title Cabinets
            h4.category-card-subtitle Starting from $220.00
      .col-md-3.col-sm-6.mb-30
        a(href='shop-boxed-ls.html').category-card.flex-wrap.text-center.pt-0
          .category-card-thumb.w-100
            img(src='img/shop/categories/05.jpg', alt='Category')
          .category-card-info.w-100
            h3.category-card-title Tables
            h4.category-card-subtitle Starting from $198.00
      .col-md-3.col-sm-6.mb-30
        a(href='shop-boxed-ls.html').category-card.flex-wrap.text-center.pt-0
          .category-card-thumb.w-100
            img(src='img/shop/categories/02.jpg', alt='Category')
          .category-card-info.w-100
            h3.category-card-title Lighting
            h4.category-card-subtitle Starting from $95.99
    .text-center
      a(href='shop-categories.html').btn.btn-outline-secondary.mb-0 All Categories
  
  // Popular Brands
  section.fw-section.bg-secondary.padding-top-3x.padding-bottom-3x
    .container
      h3.text-center.mb-30 Popular Brands
      .owl-carousel.pt-2(data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2}, "470":{"items":3},"630":{"items":4},"991":{"items":5},"1200":{"items":6}} }')
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/01.svg', alt='Brand').d-block.m-auto
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/02.svg', alt='Brand').d-block.m-auto
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/03.svg', alt='Brand').d-block.m-auto
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/04.svg', alt='Brand').d-block.m-auto
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/05.svg', alt='Brand').d-block.m-auto
        a(href='#').d-block.w-150.opacity-60
          img(src='img/brands/06.svg', alt='Brand').d-block.m-auto


  section.container-fluid.padding-top-3x.pb-5
    h3.text-center.mb-30 Featured Products
    .row

      // Special Offer
      .col-xl-3.col-md-4
        .card.pt-3.pb-2.mb-30
          .card-body.text-center
            h2 Special Offer <span class='text-danger'>-30%</span>
            a(href='shop-single.html').d-inline-block
              img(src='img/shop/special-offer02.jpg' alt='Special Offer')
            h3.h5.text-normal.pt-3
              a(href='shop-single.html').navi-link FLOS Indoor Lighting
            del.lead.text-muted.mr-2 $800.00
            span.h4.text-danger $560.00
            .mt-4
              .countdown.countdown-alt(data-date-time='12/30/2019 12:00:00')
                .item
                  .days 00
                  span.days_ref Days
                .item
                  .hours 00
                  span.hours_ref Hours
                .item
                  .minutes 00
                  span.minutes_ref Mins
                .item
                  .seconds 00
                  span.seconds_ref Secs

      // Fetured Products
      .col-xl-9.col-md-8
        .row
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb 
                span.product-badge.text-danger Sale
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th01.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Storage Box
                h4.product-card-price
                  del $49.00
                  | $38.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th05.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Lounge Chair
                h4.product-card-price $1420.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                span.product-rating.text-warning
                  i.material-icons.star
                  i.material-icons.star
                  i.material-icons.star
                  i.material-icons.star_half
                  i.material-icons.star_border
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th16.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Navy Box Bench

                h4.product-card-price $75.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                span.product-badge.text-muted Out of stock
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th06.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  a(hre='shop-single.html').btn.btn-white.btn-sm View Details
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') LED Lighting
                h4.product-card-price $130.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th09.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Campfire Table
                h4.product-card-price $1087.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                span.product-rating.text-warning
                  i.material-icons.star
                  i.material-icons.star
                  i.material-icons.star
                  i.material-icons.star
                  i.material-icons.star_border
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th08.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Tissue Holder
                h4.product-card-price $76.40
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb 
                span.product-badge.text-danger Sale
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th10.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Pendant Lamp
                h4.product-card-price
                  del $54.00
                  | $27.00
          // Item
          .col-xl-3.col-lg-4.col-sm-6
            .product-card.mb-30
              .product-card-thumb
                a(href='shop-single.html').product-card-link
                img(src='img/shop/th13.jpg', alt='Product')
                .product-card-buttons
                  button(data-toggle='tooltip' title='Wishlist').btn.btn-white.btn-sm.btn-wishlist
                    i.material-icons.favorite_border
                  button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='material-icons check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-primary.btn-sm Add to Cart
              .product-card-details
                h3.product-card-title
                  a(href='shop-single.html') Office Chair
                h4.product-card-price $329.00

  // Video Popup
  section(style='background-image: url(img/backgrounds/video_popup.jpg);').fw-section.padding-top-9x.padding-bottom-9x
    .container
      .gallery-wrapper.text-center
        .gallery-item.video-btn.text-center
          a(href='#' data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="640" src="https://player.vimeo.com/video/67001156?color=dc9814&title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe></div></div>')
          span.caption.text-center Unishop - your reliable partner

  // Features
  section.container.padding-top-3x.padding-bottom-3x
    .row.pt-2
      .col-md-3.col-sm-6.text-center.mb-30
        span.d-block.display-4.text-gray-light.mb-4
          i.material-icons.flight
        h4.h6.mb-2 Free World Wide Shipping
        p.text-sm.text-muted.mb-0 Free shipping on all orders over $999
      .col-md-3.col-sm-6.text-center.mb-30
        span.d-block.display-4.text-gray-light.mb-4
          i.material-icons.autorenew
        h4.h6.mb-2 Money Back Guarantee
        p.text-sm.text-muted.mb-0 We return money within 30 days
      .col-md-3.col-sm-6.text-center.mb-30
        span.d-block.display-4.text-gray-light.mb-4
          i.material-icons.headset_mic
        h4.h6.mb-2 24/7 Online Support
        p.text-sm.text-muted.mb-0 Friendly 24/7 customer support
      .col-md-3.col-sm-6.text-center.mb-30
        span.d-block.display-4.text-gray-light.mb-4
          i.material-icons.credit_card
        h4.h6.mb-2 Secure Online Payments
        p.text-sm.text-muted.mb-0 We posess SSL / Secure Certificate