extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Pages'
  - var menuTitle = '404 Not Found'

//- Page Content
block content
  section(style='background-image: url(img/404-bg.png);').fw-section.margin-top-3x
    h1.display-404.text-center 404
  .container.padding-bottom-3x.mb-1
    .text-center
      h2 Page Not Found
      p
        | It seems we can’t find the page you are looking for. 
        a(href='index.html') Go back to Homepage
        br
        | Or try using search at the top right corner of the page.
