extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Password Recovery'
  - var parentMenu = 'Account'
  - var menuTitle = 'Password Recovery'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Account', 'link': 'account-orders.html'}, {'title': 'Password Recovery'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .row.justify-content-center
      .col-lg-8.col-md-10
        h2 Forgot your password?
        p Change your password in three easy steps. This helps to keep your new password secure.
        ol.list-unstyled
          li
            span.text-primary.text-medium 1. 
            | Fill in your email address below.
          li
            span.text-primary.text-medium 2. 
            | We'll email you a temporary code.
          li
            span.text-primary.text-medium 3. 
            | Use the code to change your password on our secure website.
        form.card.mt-4
          .card-body
            .form-group
              label(for='email-for-pass') Enter your email address
              input(type='text' id='email-for-pass' required).form-control
              small.form-text.text-muted Type in the email address you used when you registered with Unishop. Then we'll email a code to this address.
          .card-footer
            button(type='submit').btn.btn-primary Get New Password