// Docs Side Menu
.padding-top-2x.hidden-md-up
+side-menu([
  {'link': 'dev-setup.html', 'title': 'Dev Environment Setup'},
  {'link': 'working-with-grunt.html', 'title': 'Working With Grunt'},
  {'link': 'project-structure.html', 'title': 'Project Structure'},
  {'link': 'using-preprocessors.html', 'title': 'Using Preprocessors (Pug & Sass)'},
  {'link': 'autoprefixer.html', 'title': 'Browser Support (Autoprefixer)'},
  {'link': 'colors.html', 'title': 'Global Colors'},
  {'link': 'footer-skin.html', 'title': 'Changing Footer Skin'},
  {'link': 'components.html', 'title': 'Components'},
  {'link': 'utility-classes.html', 'title': 'Utility Classes'},
  {'link': 'font-icons.html', 'title': 'Font Icons'},
  {'link': 'credits.html', 'title': 'Sources and Credits'},
  {'link': 'changelog.html', 'title': 'Changelog'}
], menuTitle)
