ul.mega-menu
  li
    a()&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'}).d-block.img-thumbnail.text-center.navi-link
      img(alt='Featured Products Slider')&attributes(isNestedFile ? {'src': '../img/mega-menu-home/01.jpg'} : {'src': 'img/mega-menu-home/01.jpg'})
      h6.mt-3 Featured Products Slider
  li
    a()&attributes(isNestedFile ? {'href': '../home-featured-categories.html'} : {'href': 'home-featured-categories.html'}).d-block.img-thumbnail.text-center.navi-link
      img(alt='Featured Categories')&attributes(isNestedFile ? {'src': '../img/mega-menu-home/02.jpg'} : {'src': 'img/mega-menu-home/02.jpg'})
      h6.mt-3 Featured Categories
  li
    a()&attributes(isNestedFile ? {'href': '../home-collection-showcase.html'} : {'href': 'home-collection-showcase.html'}).d-block.img-thumbnail.text-center.navi-link
      img(alt='Products Collection Showcase')&attributes(isNestedFile ? {'src': '../img/mega-menu-home/03.jpg'} : {'src': 'img/mega-menu-home/03.jpg'})
      h6.mt-3 Products Collection Showcase
  li
    a()&attributes(isNestedFile ? {'href': '../home-dark-header.html'} : {'href': 'home-dark-header.html'}).d-block.img-thumbnail.text-center.navi-link
      img(alt='Dark Header')&attributes(isNestedFile ? {'src': '../img/mega-menu-home/04.jpg'} : {'src': 'img/mega-menu-home/04.jpg'})
      h6.mt-3 Dark Header
