// Open Ticket Modal
div(id='orderDetails' tabindex='-1').modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Order No  - 34VB5540K83
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .table-responsive.shopping-cart.mb-0
          table.table
            thead
              tr
                th Product Name
                th.text-center Subtotal
            tbody
              tr
                td
                  .product-item
                    a(href='shop-single.html').product-thumb
                      img(src='img/shop/cart/01.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='shop-single.html')
                          | Unionbay Park
                          small x 1
                      span
                        em Size:
                        |  10.5
                      span
                        em Color:
                        |  Dark Blue
                td.text-center.text-lg.text-medium $43.90
              tr
                td
                  .product-item
                    a(href='shop-single.html').product-thumb
                      img(src='img/shop/cart/02.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='shop-single.html')
                          | Daily Fabric Cap
                          small x 2
                      span
                        em Size:
                        |  XL
                      span
                        em Color:
                        |  Black
                td.text-center.text-lg.text-medium $24.89
              tr
                td
                  .product-item
                    a(href='shop-single.html').product-thumb
                      img(src='img/shop/cart/03.jpg', alt='Product')
                    .product-info
                      h4.product-title
                        a(href='shop-single.html')
                          | Cole Haan Crossbody
                          small x 1
                      span
                        em Size:
                        |  -
                      span
                        em Color:
                        |  Turquoise
                td.text-center.text-lg.text-medium $200.00
        hr.mb-3
        .d-flex.flex-wrap.justify-content-between.align-items-center.pb-2
          .px-2.py-1 Subtotal: <span class='text-medium'>$289.68</span>
          .px-2.py-1 Shipping: <span class='text-medium'>$22.50</span>
          .px-2.py-1 Tax: <span class='text-medium'>$3.42</span>
          .text-lg.px-2.py-1 Total: <span class='text-medium'>$315.60</span>
