// Shop Categories Modal
div(id='modalShopCategories' tabindex='-1').modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Shop Categories
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        section.widget.widget-categories
          h3.widget-title Popular Brands
          ul
            li
              a(href='#') Adidas
              <span>(254)</span>
            li
              a(href='#') Bilabong
              <span>(39)</span>
            li
              a(href='#') Brooks
              <span>(205)</span>
            li
              a(href='#') Calvin Klein
              <span>(128)</span>
            li
              a(href='#') Cole Haan
              <span>(104)</span>
            li
              a(href='#') Columbia
              <span>(217)</span>
            li
              a(href='#') New Balance
              <span>(95)</span>
            li
              a(href='#') Nike
              <span>(310)</span>
            li
              a(href='#') Nine West
              <span>(134)</span>
            li
              a(href='#') Oakley
              <span>(73)</span>
            li
              a(href='#') Puma
              <span>(446)</span>
            li
              a(href='#') Scechers
              <span>(87)</span>
            li
              a(href='#') Tommy Bahama
              <span>(42)</span>
            li
              a(href='#') Tommy Hilfiger
              <span>(289)</span>
            li
              a(href='#') Valentino
              <span>(68)</span>
