//
// Progress Bars
// --------------------------------------------------

.progress {
  height: auto;
  border-radius: 0;
  background-color: darken($gray-lighter, 1%);
  font: {
    size: $font-size-xs;
    weight: 500;
  }
  line-height: $progress-height;
}
.progress-bar {
  height: $progress-height;
  background-color: $progress-bg;
}
