extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Documentation'
  - var isNestedFile = true
  - var parentMenu = 'Pages'
  - var menuTitle = 'Changelog'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Documentation'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-1
    .row
      .col-lg-9.col-md-8
        h2.mb-4 Changelog
        h5 Version 3.2.1 - August 19, 2019
        ul
          li <span class='text-medium'>UPDATED:</span> Core scripts.js file across all 3 templates to enable multiple Range Slider instances on one page.
        h5.mt-4 Version 3.2 - July 22, 2019
        ul
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest version v4.3.1
          li <span class='text-medium'>ADDED:</span> Dark Header version for Template #1
          li <span class='text-medium'>ADDED:</span> Support for new Bootstrap Scrollable Modal component (See Modal component)
          li <span class='text-medium'>FIXED:</span> Replaced outdated Google Maps with nice images of cities in Contacts page
        h5.mt-4 Version 3.1 - January 21, 2019
        ul
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest version v4.2.1
          li <span class='text-medium'>ADDED:</span> Support for new Bootstrap Spinner component (See Spinners component)
          li <span class='text-medium'>ADDED:</span> Support for new Bootstrap Toast component (See Toast Notifications component)
          li <span class='text-medium'>ADDED:</span> Support for new Bootstrap Forms Validation (See Forms component)
          li <span class='text-medium'>ADDED:</span> Modal Extra Large size and Modal Vertically Centered options (See Modal component)
        h5.mt-4 Version 3.0 - April 30, 2018
        ul
          li <span class='text-medium'>ADDED:</span> Brand New Stand-Alone Unishop Version 3 (Template 3) - Electronics Shop
          li <span class='text-medium'>ADDED:</span> Display 1-4 headings to Template 1 &amp; 2
          li <span class='text-medium'>FIXED:</span> Accordion component in Template 1 &amp; 2
          li <span class='text-medium'>FIXED:</span> Select light skin in Template 1 &amp; 2
          li <span class='text-medium'>UPDATED:</span> Removed sidebar width limitation (Template 1 &amp; 2)
          li <span class='text-medium'>UPDATED:</span> Documentation (Template 1). Added link to Font icons pack
        h5.mt-4 Version 2.2 - February 04, 2018
        ul
          li <span class='text-medium'>ADDED:</span> New class “sidebar-offcanvas”. When applied to “sidebar”, it will be hidden off-canvas and a button appears to toggle sidebar on mobile devices. You can choose the position of the button: left or right. Available for both templates.
          li <span class='text-medium'>FIXED:</span> Fixed Navigation bar and dropdowns in Microsoft Edge and IE11
          li <span class='text-medium'>FIXED:</span> Minor bug fixes in Microsoft Edge and IE11
        h5.mt-4 Version 2.1 - January 22, 2018
        ul
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest version v4.0.0
          li <span class='text-medium'>FIXED:</span> Template 2 Material font icons path
        h5.mt-4 Version 2.0 - January 22, 2018
        ul
          li <span class='text-medium'>ADDED:</span> Brand New Stand-Alone Unishop Version 2 (Template 2) - Furniture Shop
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest version v4.0.0-beta.3
          li <span class='text-medium'>FIXED:</span> Template compatibility issues with updated Bootstrap
        h5.mt-4 Version 1.4 - November 2, 2017
        ul
          li <span class='text-medium'>ADDED:</span> Coming Soon Page
          li <span class='text-medium'>ADDED:</span> Single Ticket Page
          li <span class='text-medium'>ADDED:</span> Bootstrap scss files to vendor folder. Now Bootstrap is integral part of grunt building process and is compiled via separate grunt command sass:bootstrap and passed through Autoprefixer
          li <span class='text-medium'>ADDED:</span> 2 New sections to Unishop documentation: “Browser Support (Autoprefixer)” and “Changelog”
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest Beta 2 version
          li <span class='text-medium'>UPDATED:</span> package.json with new Autoprefixer package
          li <span class='text-medium'>UPDATED:</span> Gruntfile.js. Added new path: bootstrap_scss and new grunt command sass:bootstrap which runs along with default grunt task. Added Autoprefixer task
          li <span class='text-medium'>UPDATED:</span> Removed all prefixed styles from SCSS. Now vendor prefixes are added automatically by Autoprefixer
          li <span class='text-medium'>UPDATED:</span> Account My Tickets page. Now you can click on ticket name to see ticket details
          li <span class='text-medium'>UPDATED:</span> jQuery v3.1.1 slim to v3.2.1 full to enable ajax function
          li <span class='text-medium'>FIXED:</span> Yet another shop products grid issue in Microsoft Edge
          li <span class='text-medium'>FIXED:</span> Removed second unnecessary declaration of countDownFunc inside scripts.js
          li <span class='text-medium'>FIXED:</span> Double/Single quotes issue inside scripts.js
          li <span class='text-medium'>FIXED:</span> Specified "global" identifiers at the top of the scripts.js file to tell ESLin that they are declared outside of the file
        h5.mt-4 Version 1.3 - October 9, 2017
        ul
          li <span class='text-medium'>ADDED:</span> New Homepage Versions: Featured Categories and Product Collection Showcase
          li <span class='text-medium'>ADDED:</span> New Type of Header - Ghost Header (see Homepage Product Collection Showcase)
          li <span class='text-medium'>ADDED:</span> New Products Grid with Filters (see on Product Collection Showcase page)
          li <span class='text-medium'>ADDED:</span> Light Footer version (try via customizer)
          li <span class='text-medium'>UPDATED:</span> Unishop Logo and Favicon
          li <span class='text-medium'>UPDATED:</span> Sketch file with new Homepage mockups and components
          li <span class='text-medium'>UPDATED:</span> Documentation with new section: Changing Footer Skin
        h5.mt-4 Version 1.2 - September 17, 2017
        ul
          li <span class='text-medium'>ADDED:</span> New Order Tracking Page
          li <span class='text-medium'>ADDED:</span> Search and Filters for Components. New data-filter-list js plugin for filtering list groups
          li <span class='text-medium'>ADDED:</span> New Steps component
          li <span class='text-medium'>ADDED:</span> New Font Icons Set Pe-7-Stroke
          li <span class='text-medium'>ADDED:</span> New Order Details Modal. Now when you click on order id it opens modal with order details
          li <span class='text-medium'>ADDED:</span> grunt-cache-pug-compile and pug-inheritance for faster .pug compilation and browser reloading. Now only affected files re-compile
          li <span class='text-medium'>ADDED:</span> New utility classes for removing border radius. All utility classes found in scss/base/_utilities.scss
          li <span class='text-medium'>UPDATED:</span> Node modules to latest stable version
          li <span class='text-medium'>UPDATED:</span> Forms styles, fixed button inside input group
          li <span class='text-medium'>UPDATED:</span> Sketch file with new Order Tracking page mockup
        h5.mt-4 Version 1.1 - August 29, 2017
        ul
          li <span class='text-medium'>ADDED:</span> Media object component
          li <span class='text-medium'>ADDED:</span> Password recovery page
          li <span class='text-medium'>UPDATED:</span> Bootstrap to latest version 4.0.0 Beta
          li <span class='text-medium'>UPDATED:</span> All Unishop components to be compatible with Bootstrap 4.0.0 Beta
          li <span class='text-medium'>UPDATED:</span> User dropdown menu and mobile menu, added user avatar
          li <span class='text-medium'>UPDATED:</span> Navigation bar and dropdown styles, added drop shadow
          li <span class='text-medium'>UPDATED:</span> Documentation. Added new section: Global colors, fixed typos
          li <span class='text-medium'>UPDATED:</span> gruntfile.js and package.json files
          li <span class='text-medium'>FIXED:</span> Shop products grid issue in Microsoft Edge
        h5.mt-4 Version 1.0 - July 30, 2017
        ul
          li Initial release

      .col-lg-3.col-md-4
        //- Side Menu
        include ../partials/docs-menu