//- Top Level Menu Item
mixin menu-link(url, title)
  - var linkattr = isNestedFile ? {'href': '../' + url} : {'href': url}
  a()&attributes(linkattr)
    span= title

//- Sub Menu Item
mixin submenu-item(url, title, extraClass)
  - var linkAttr = isNestedFile ? {'href': '../' + url} : {'href': url}
  - var activeClass = (menuTitle === title) ? 'active' : ''
  li()&attributes({'class': [extraClass, activeClass]})
    a()&attributes(linkAttr)= title

//- Sub Menu Item Components    
mixin submenu-component-item(url, title)
  - var linkAttr = isNestedFile ? {'href': '../components/' + url} : {'href': 'components/' + url}
  - var activeClass = (pageTitle === title) ? 'active' : ''
  li()&attributes({'class': activeClass})
    a()&attributes(linkAttr)= title

//- Mega Menu Links
mixin megamenu-links(items)
  ul.sub-menu
    each item in items
      - var linkAttr = isNestedFile ? {'href': '../components/' + item.link} : {'href': 'components/' +  item.link}
      - var activeClass = (pageTitle === item.title) ? 'active' : ''
      li()&attributes({'class': activeClass})
        a()&attributes(linkAttr)= item.title

//- Image
mixin image(link, alt)
  - var imgAttrs = isNestedFile ? {'src': '../' + link, 'alt': alt} : {'src': link, 'alt': alt}
  img()&attributes(imgAttrs)

//- Rating Stars
mixin rating-stars(stars)
  .rating-stars
    each star in stars
      - var starClass = {'class': star.class}
      i()&attributes(starClass)

//- Social Buttons
mixin social-buttons(socials, shape, skin)
  each social in socials
    - var linkAttrs = {'href': social.link, 'class': ['social-button',  'sb-' + social.icon, 'shape-' + shape, 'sb-' + skin], 'target': '_blank'}
    a()&attributes(linkAttrs)
      i()&attributes({'class': ['socicon-' + social.icon]})

//- Side Menu
mixin side-menu(items, isActive)
  nav#components-list.list-group
    each item in items
      - var activeClass = (isActive === item.title) ? 'active' : ''
      - var linkAttrs = {'href': item.link, 'data-filter-item': item.data, 'class': ['list-group-item', 'list-group-item-action', activeClass]}
      a()&attributes(linkAttrs)= item.title