extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Spinners'
  - var isNestedFile = true
  - var parentMenu = 'Components'
  - var breadcrumbs = [{'title': 'Home', 'link': '../index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Spinners'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .row
      .col-lg-9.col-md-8.order-md-2

        // Border Spinner
        h6.text-muted.text-normal.text-uppercase Border Spinner
        hr.margin-bottom-1x
        div(role='status').spinner-border.text-gray-dark.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-muted.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-primary.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-success.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-info.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-warning.m-2
          span.sr-only Loading...
        div(role='status').spinner-border.text-danger.m-2
          span.sr-only Loading...
        .d-inline-block.bg-dark.mx-2
          div(role='status').spinner-border.text-white.my-2.mx-3
            span.sr-only Loading...

        // Growing Spinner
        h6.text-muted.text-normal.text-uppercase.padding-top-3x Growing Spinner
        hr.margin-bottom-1x
        div(role='status').spinner-grow.text-gray-dark.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-muted.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-primary.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-success.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-info.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-warning.m-2
          span.sr-only Loading...
        div(role='status').spinner-grow.text-danger.m-2
          span.sr-only Loading...
        .d-inline-block.bg-dark.mx-2
          div(role='status').spinner-grow.text-white.my-2.mx-3
            span.sr-only Loading...

        // Size
        h6.text-muted.text-normal.text-uppercase.padding-top-3x Size
        hr.margin-bottom-1x
        .d-inline-block.align-middle.mr-2
          div(role='status').spinner-border.spinner-border-sm.text-gray-dark.m-2
            span.sr-only Loading...
          div(role='status').spinner-grow.spinner-grow-sm.text-gray-dark.m-2
            span.sr-only Loading...
        .d-inline-block.align-middle
          div(style='width: 3rem; height: 3rem;' role='status').spinner-border.text-gray-dark.m-2
            span.sr-only Loading...
          div(style='width: 3rem; height: 3rem;' role='status').spinner-grow.text-gray-dark.m-2
            span.sr-only Loading...

        // Inside Button
        h6.text-muted.text-normal.text-uppercase.padding-top-3x Inside Button
        hr.margin-bottom-1x
        .d-inline-block.align-middle.mr-2
          button(type='button').btn.btn-primary
            div(role='status').spinner-border.spinner-border-sm.text-white.mr-2
            | Loading...
          button(type='button').btn.btn-primary
            div(role='status').spinner-grow.spinner-grow-sm.text-white.mr-2
            | Loading...
      
      .col-lg-3.col-md-4.order-md-1
        //- Side Menu
        include ../partials/side-menu