extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Market & Social Buttons'
  - var isNestedFile = true
  - var parentMenu = 'Market & Social Buttons'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Components', 'link': 'accordion.html'}, {'title': 'Market & Social Buttons'}]

//- Page Content
block content
  .container.padding-bottom-3x
    .row
      .col-lg-9.col-md-8.order-md-2

        // Market Buttons
        h6.text-muted.text-normal.text-uppercase Market Buttons
        hr.margin-bottom-1x
        a(href='#').market-button.apple-button
          span.mb-subtitle Download on the
          span.mb-title App Store
        a(href='#').market-button.google-button
          span.mb-subtitle Download on the
          span.mb-title Google Play
        a(href='#').market-button.windows-button
          span.mb-subtitle Download on the
          span.mb-title Windows Store
        a(href='#').market-button.amazon-button
          span.mb-subtitle Order now at
          span.mb-title Amazon.com
        a(href='#').market-button.blackberry-button
          span.mb-subtitle Download on the
          span.mb-title Blackberry
        div(style='padding: 30px 20px 15px 20px;').bg-dark.margin-top-1x
          a(href='#').market-button.apple-button.mb-light-skin
            span.mb-subtitle Download on the
            span.mb-title App Store
          a(href='#').market-button.google-button.mb-light-skin
            span.mb-subtitle Download on the
            span.mb-title Google Play
          a(href='#').market-button.windows-button.mb-light-skin
            span.mb-subtitle Download on the
            span.mb-title Windows Store
          a(href='#').market-button.amazon-button.mb-light-skin
            span.mb-subtitle Order now at
            span.mb-title Amazon.com
          a(href='#').market-button.blackberry-button.mb-light-skin
            span.mb-subtitle Download on the
            span.mb-title Blackberry
        
        // Social Buttons: No Shape
        h6.text-muted.text-normal.text-uppercase.padding-top-3x Social Buttons
        hr.margin-bottom-1x
        a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.sb-amazon
          i.socicon-amazon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.sb-airbnb
          i.socicon-airbnb
        a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.sb-behance
          i.socicon-behance
        a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.sb-deviantart
          i.socicon-deviantart
        a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.sb-digg
          i.socicon-digg
        a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.sb-disqus
          i.socicon-disqus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.sb-dribbble
          i.socicon-dribbble
        a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.sb-drupal
          i.socicon-drupal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.sb-email
          i.socicon-mail
        a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.sb-facebook
          i.socicon-facebook
        a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.sb-flickr
          i.socicon-flickr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.sb-foursquare
          i.socicon-foursquare
        a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.sb-github
          i.socicon-github
        a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.sb-google-plus
          i.socicon-googleplus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.sb-instagram
          i.socicon-instagram
        a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.sb-lastfm
          i.socicon-lastfm
        a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.sb-linkedin
          i.socicon-linkedin
        a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.sb-odnoklassniki
          i.socicon-odnoklassniki
        a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.sb-paypal
          i.socicon-paypal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.sb-pinterest
          i.socicon-pinterest
        a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.sb-reddit
          i.socicon-reddit
        a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.sb-rss
          i.socicon-rss
        a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.sb-skype
          i.socicon-skype
        a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.sb-soundcloud
          i.socicon-soundcloud
        a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.sb-stackoverflow
          i.socicon-stackoverflow
        a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.sb-steam
          i.socicon-steam
        a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.sb-stumbleupon
          i.socicon-stumbleupon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.sb-tumblr
          i.socicon-tumblr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.sb-twitch
          i.socicon-twitch
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.sb-twitter
          i.socicon-twitter
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.sb-vimeo
          i.socicon-vimeo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.sb-vine
          i.socicon-vine
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.sb-vk
          i.socicon-vkontakte
        a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.sb-wordpress
          i.socicon-wordpress
        a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.sb-xing
          i.socicon-xing
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.sb-yahoo
          i.socicon-yahoo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.sb-yelp
          i.socicon-yelp
        a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.sb-youtube
          i.socicon-youtube
        
        // Social Buttons: Circle Shape
        hr.margin-top-1x.margin-bottom-1x
        a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-circle.sb-amazon
          i.socicon-amazon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-circle.sb-airbnb
          i.socicon-airbnb
        a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-circle.sb-behance
          i.socicon-behance
        a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-circle.sb-deviantart
          i.socicon-deviantart
        a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-circle.sb-digg
          i.socicon-digg
        a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-circle.sb-disqus
          i.socicon-disqus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-circle.sb-dribbble
          i.socicon-dribbble
        a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-circle.sb-drupal
          i.socicon-drupal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-circle.sb-email
          i.socicon-mail
        a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-circle.sb-facebook
          i.socicon-facebook
        a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-circle.sb-flickr
          i.socicon-flickr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-circle.sb-foursquare
          i.socicon-foursquare
        a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-circle.sb-github
          i.socicon-github
        a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-circle.sb-google-plus
          i.socicon-googleplus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-circle.sb-instagram
          i.socicon-instagram
        a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-circle.sb-lastfm
          i.socicon-lastfm
        a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-circle.sb-linkedin
          i.socicon-linkedin
        a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-circle.sb-odnoklassniki
          i.socicon-odnoklassniki
        a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-circle.sb-paypal
          i.socicon-paypal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-circle.sb-pinterest
          i.socicon-pinterest
        a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-circle.sb-reddit
          i.socicon-reddit
        a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-circle.sb-rss
          i.socicon-rss
        a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-circle.sb-skype
          i.socicon-skype
        a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-circle.sb-soundcloud
          i.socicon-soundcloud
        a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-circle.sb-stackoverflow
          i.socicon-stackoverflow
        a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-circle.sb-steam
          i.socicon-steam
        a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-circle.sb-stumbleupon
          i.socicon-stumbleupon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-circle.sb-tumblr
          i.socicon-tumblr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-circle.sb-twitch
          i.socicon-twitch
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-circle.sb-twitter
          i.socicon-twitter
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-circle.sb-vimeo
          i.socicon-vimeo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-circle.sb-vine
          i.socicon-vine
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-circle.sb-vk
          i.socicon-vkontakte
        a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-circle.sb-wordpress
          i.socicon-wordpress
        a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-circle.sb-xing
          i.socicon-xing
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-circle.sb-yahoo
          i.socicon-yahoo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-circle.sb-yelp
          i.socicon-yelp
        a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-circle.sb-youtube
          i.socicon-youtube
        
        // Social Buttons: Rounded Shape
        hr.margin-top-1x.margin-bottom-1x
        a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-rounded.sb-amazon
          i.socicon-amazon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-rounded.sb-airbnb
          i.socicon-airbnb
        a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-rounded.sb-behance
          i.socicon-behance
        a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-rounded.sb-deviantart
          i.socicon-deviantart
        a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-rounded.sb-digg
          i.socicon-digg
        a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-rounded.sb-disqus
          i.socicon-disqus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-rounded.sb-dribbble
          i.socicon-dribbble
        a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-rounded.sb-drupal
          i.socicon-drupal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-rounded.sb-email
          i.socicon-mail
        a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook
          i.socicon-facebook
        a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-rounded.sb-flickr
          i.socicon-flickr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-rounded.sb-foursquare
          i.socicon-foursquare
        a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-rounded.sb-github
          i.socicon-github
        a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-rounded.sb-google-plus
          i.socicon-googleplus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-rounded.sb-instagram
          i.socicon-instagram
        a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-rounded.sb-lastfm
          i.socicon-lastfm
        a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-rounded.sb-linkedin
          i.socicon-linkedin
        a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-rounded.sb-odnoklassniki
          i.socicon-odnoklassniki
        a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-rounded.sb-paypal
          i.socicon-paypal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-rounded.sb-pinterest
          i.socicon-pinterest
        a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-rounded.sb-reddit
          i.socicon-reddit
        a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-rounded.sb-rss
          i.socicon-rss
        a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-rounded.sb-skype
          i.socicon-skype
        a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-rounded.sb-soundcloud
          i.socicon-soundcloud
        a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-rounded.sb-stackoverflow
          i.socicon-stackoverflow
        a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-rounded.sb-steam
          i.socicon-steam
        a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-rounded.sb-stumbleupon
          i.socicon-stumbleupon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-rounded.sb-tumblr
          i.socicon-tumblr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-rounded.sb-twitch
          i.socicon-twitch
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter
          i.socicon-twitter
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-rounded.sb-vimeo
          i.socicon-vimeo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-rounded.sb-vine
          i.socicon-vine
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-rounded.sb-vk
          i.socicon-vkontakte
        a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-rounded.sb-wordpress
          i.socicon-wordpress
        a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-rounded.sb-xing
          i.socicon-xing
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-rounded.sb-yahoo
          i.socicon-yahoo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-rounded.sb-yelp
          i.socicon-yelp
        a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-rounded.sb-youtube
          i.socicon-youtube
        
        // Social Buttons: Square Shape
        hr.margin-top-1x.margin-bottom-1x
        a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-square.sb-amazon
          i.socicon-amazon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-square.sb-airbnb
          i.socicon-airbnb
        a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-square.sb-behance
          i.socicon-behance
        a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-square.sb-deviantart
          i.socicon-deviantart
        a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-square.sb-digg
          i.socicon-digg
        a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-square.sb-disqus
          i.socicon-disqus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-square.sb-dribbble
          i.socicon-dribbble
        a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-square.sb-drupal
          i.socicon-drupal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-square.sb-email
          i.socicon-mail
        a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-square.sb-facebook
          i.socicon-facebook
        a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-square.sb-flickr
          i.socicon-flickr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-square.sb-foursquare
          i.socicon-foursquare
        a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-square.sb-github
          i.socicon-github
        a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-square.sb-google-plus
          i.socicon-googleplus
        a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-square.sb-instagram
          i.socicon-instagram
        a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-square.sb-lastfm
          i.socicon-lastfm
        a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-square.sb-linkedin
          i.socicon-linkedin
        a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-square.sb-odnoklassniki
          i.socicon-odnoklassniki
        a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-square.sb-paypal
          i.socicon-paypal
        a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-square.sb-pinterest
          i.socicon-pinterest
        a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-square.sb-reddit
          i.socicon-reddit
        a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-square.sb-rss
          i.socicon-rss
        a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-square.sb-skype
          i.socicon-skype
        a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-square.sb-soundcloud
          i.socicon-soundcloud
        a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-square.sb-stackoverflow
          i.socicon-stackoverflow
        a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-square.sb-steam
          i.socicon-steam
        a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-square.sb-stumbleupon
          i.socicon-stumbleupon
        a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-square.sb-tumblr
          i.socicon-tumblr
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-square.sb-twitch
          i.socicon-twitch
        a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-square.sb-twitter
          i.socicon-twitter
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-square.sb-vimeo
          i.socicon-vimeo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-square.sb-vine
          i.socicon-vine
        a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-square.sb-vk
          i.socicon-vkontakte
        a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-square.sb-wordpress
          i.socicon-wordpress
        a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-square.sb-xing
          i.socicon-xing
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-square.sb-yahoo
          i.socicon-yahoo
        a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-square.sb-yelp
          i.socicon-yelp
        a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-square.sb-youtube
          i.socicon-youtube
        
        // Social Buttons: Light Skin
        div(style='padding: 30px 20px 25px; margin-top: 30px;').bg-dark.mb-3
          a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.sb-amazon.sb-light-skin
            i.socicon-amazon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.sb-airbnb.sb-light-skin
            i.socicon-airbnb
          a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.sb-behance.sb-light-skin
            i.socicon-behance
          a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.sb-deviantart.sb-light-skin
            i.socicon-deviantart
          a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.sb-digg.sb-light-skin
            i.socicon-digg
          a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.sb-disqus.sb-light-skin
            i.socicon-disqus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.sb-dribbble.sb-light-skin
            i.socicon-dribbble
          a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.sb-drupal.sb-light-skin
            i.socicon-drupal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.sb-email.sb-light-skin
            i.socicon-mail
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.sb-facebook.sb-light-skin
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.sb-flickr.sb-light-skin
            i.socicon-flickr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.sb-foursquare.sb-light-skin
            i.socicon-foursquare
          a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.sb-github.sb-light-skin
            i.socicon-github
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.sb-google-plus.sb-light-skin
            i.socicon-googleplus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.sb-instagram.sb-light-skin
            i.socicon-instagram
          a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.sb-lastfm.sb-light-skin
            i.socicon-lastfm
          a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.sb-linkedin.sb-light-skin
            i.socicon-linkedin
          a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.sb-odnoklassniki.sb-light-skin
            i.socicon-odnoklassniki
          a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.sb-paypal.sb-light-skin
            i.socicon-paypal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.sb-pinterest.sb-light-skin
            i.socicon-pinterest
          a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.sb-reddit.sb-light-skin
            i.socicon-reddit
          a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.sb-rss.sb-light-skin
            i.socicon-rss
          a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.sb-skype.sb-light-skin
            i.socicon-skype
          a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.sb-soundcloud.sb-light-skin
            i.socicon-soundcloud
          a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.sb-stackoverflow.sb-light-skin
            i.socicon-stackoverflow
          a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.sb-steam.sb-light-skin
            i.socicon-steam
          a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.sb-stumbleupon.sb-light-skin
            i.socicon-stumbleupon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.sb-tumblr.sb-light-skin
            i.socicon-tumblr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.sb-twitch.sb-light-skin
            i.socicon-twitch
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.sb-twitter.sb-light-skin
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.sb-vimeo.sb-light-skin
            i.socicon-vimeo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.sb-vine.sb-light-skin
            i.socicon-vine
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.sb-vk.sb-light-skin
            i.socicon-vkontakte
          a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.sb-wordpress.sb-light-skin
            i.socicon-wordpress
          a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.sb-xing.sb-light-skin
            i.socicon-xing
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.sb-yahoo.sb-light-skin
            i.socicon-yahoo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.sb-yelp.sb-light-skin
            i.socicon-yelp
          a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.sb-youtube.sb-light-skin
            i.socicon-youtube
          
          hr.hr-light.margin-top-1x.margin-bottom-1x
          a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-circle.sb-amazon.sb-light-skin
            i.socicon-amazon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-circle.sb-airbnb.sb-light-skin
            i.socicon-airbnb
          a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-circle.sb-behance.sb-light-skin
            i.socicon-behance
          a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-circle.sb-deviantart.sb-light-skin
            i.socicon-deviantart
          a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-circle.sb-digg.sb-light-skin
            i.socicon-digg
          a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-circle.sb-disqus.sb-light-skin
            i.socicon-disqus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-circle.sb-dribbble.sb-light-skin
            i.socicon-dribbble
          a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-circle.sb-drupal.sb-light-skin
            i.socicon-drupal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-circle.sb-email.sb-light-skin
            i.socicon-mail
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-circle.sb-facebook.sb-light-skin
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-circle.sb-flickr.sb-light-skin
            i.socicon-flickr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-circle.sb-foursquare.sb-light-skin
            i.socicon-foursquare
          a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-circle.sb-github.sb-light-skin
            i.socicon-github
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-circle.sb-google-plus.sb-light-skin
            i.socicon-googleplus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-circle.sb-instagram.sb-light-skin
            i.socicon-instagram
          a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-circle.sb-lastfm.sb-light-skin
            i.socicon-lastfm
          a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-circle.sb-linkedin.sb-light-skin
            i.socicon-linkedin
          a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-circle.sb-odnoklassniki.sb-light-skin
            i.socicon-odnoklassniki
          a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-circle.sb-paypal.sb-light-skin
            i.socicon-paypal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-circle.sb-pinterest.sb-light-skin
            i.socicon-pinterest
          a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-circle.sb-reddit.sb-light-skin
            i.socicon-reddit
          a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-circle.sb-rss.sb-light-skin
            i.socicon-rss
          a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-circle.sb-skype.sb-light-skin
            i.socicon-skype
          a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-circle.sb-soundcloud.sb-light-skin
            i.socicon-soundcloud
          a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-circle.sb-stackoverflow.sb-light-skin
            i.socicon-stackoverflow
          a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-circle.sb-steam.sb-light-skin
            i.socicon-steam
          a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-circle.sb-stumbleupon.sb-light-skin
            i.socicon-stumbleupon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-circle.sb-tumblr.sb-light-skin
            i.socicon-tumblr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-circle.sb-twitch.sb-light-skin
            i.socicon-twitch
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-circle.sb-twitter.sb-light-skin
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-circle.sb-vimeo.sb-light-skin
            i.socicon-vimeo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-circle.sb-vine.sb-light-skin
            i.socicon-vine
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-circle.sb-vk.sb-light-skin
            i.socicon-vkontakte
          a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-circle.sb-wordpress.sb-light-skin
            i.socicon-wordpress
          a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-circle.sb-xing.sb-light-skin
            i.socicon-xing
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-circle.sb-yahoo.sb-light-skin
            i.socicon-yahoo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-circle.sb-yelp.sb-light-skin
            i.socicon-yelp
          a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-circle.sb-youtube.sb-light-skin
            i.socicon-youtube
          
          hr.hr-light.margin-top-1x.margin-bottom-1x
          a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-rounded.sb-amazon.sb-light-skin
            i.socicon-amazon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-rounded.sb-airbnb.sb-light-skin
            i.socicon-airbnb
          a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-rounded.sb-behance.sb-light-skin
            i.socicon-behance
          a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-rounded.sb-deviantart.sb-light-skin
            i.socicon-deviantart
          a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-rounded.sb-digg.sb-light-skin
            i.socicon-digg
          a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-rounded.sb-disqus.sb-light-skin
            i.socicon-disqus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-rounded.sb-dribbble.sb-light-skin
            i.socicon-dribbble
          a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-rounded.sb-drupal.sb-light-skin
            i.socicon-drupal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-rounded.sb-email.sb-light-skin
            i.socicon-mail
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-rounded.sb-facebook.sb-light-skin
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-rounded.sb-flickr.sb-light-skin
            i.socicon-flickr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-rounded.sb-foursquare.sb-light-skin
            i.socicon-foursquare
          a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-rounded.sb-github.sb-light-skin
            i.socicon-github
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-rounded.sb-google-plus.sb-light-skin
            i.socicon-googleplus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-rounded.sb-instagram.sb-light-skin
            i.socicon-instagram
          a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-rounded.sb-lastfm.sb-light-skin
            i.socicon-lastfm
          a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-rounded.sb-linkedin.sb-light-skin
            i.socicon-linkedin
          a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-rounded.sb-odnoklassniki.sb-light-skin
            i.socicon-odnoklassniki
          a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-rounded.sb-paypal.sb-light-skin
            i.socicon-paypal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-rounded.sb-pinterest.sb-light-skin
            i.socicon-pinterest
          a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-rounded.sb-reddit.sb-light-skin
            i.socicon-reddit
          a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-rounded.sb-rss.sb-light-skin
            i.socicon-rss
          a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-rounded.sb-skype.sb-light-skin
            i.socicon-skype
          a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-rounded.sb-soundcloud.sb-light-skin
            i.socicon-soundcloud
          a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-rounded.sb-stackoverflow.sb-light-skin
            i.socicon-stackoverflow
          a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-rounded.sb-steam.sb-light-skin
            i.socicon-steam
          a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-rounded.sb-stumbleupon.sb-light-skin
            i.socicon-stumbleupon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-rounded.sb-tumblr.sb-light-skin
            i.socicon-tumblr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-rounded.sb-twitch.sb-light-skin
            i.socicon-twitch
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-rounded.sb-twitter.sb-light-skin
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-rounded.sb-vimeo.sb-light-skin
            i.socicon-vimeo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-rounded.sb-vine.sb-light-skin
            i.socicon-vine
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-rounded.sb-vk.sb-light-skin
            i.socicon-vkontakte
          a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-rounded.sb-wordpress.sb-light-skin
            i.socicon-wordpress
          a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-rounded.sb-xing.sb-light-skin
            i.socicon-xing
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-rounded.sb-yahoo.sb-light-skin
            i.socicon-yahoo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-rounded.sb-yelp.sb-light-skin
            i.socicon-yelp
          a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-rounded.sb-youtube.sb-light-skin
            i.socicon-youtube
          
          hr.hr-light.margin-top-1x.margin-bottom-1x
          a(href='#' data-toggle='tooltip' data-placement='top' title='Amazon').social-button.shape-square.sb-amazon.sb-light-skin
            i.socicon-amazon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Airbnb').social-button.shape-square.sb-airbnb.sb-light-skin
            i.socicon-airbnb
          a(href='#' data-toggle='tooltip' data-placement='top' title='Behance').social-button.shape-square.sb-behance.sb-light-skin
            i.socicon-behance
          a(href='#' data-toggle='tooltip' data-placement='top' title='Devianart').social-button.shape-square.sb-deviantart.sb-light-skin
            i.socicon-deviantart
          a(href='#' data-toggle='tooltip' data-placement='top' title='Digg').social-button.shape-square.sb-digg.sb-light-skin
            i.socicon-digg
          a(href='#' data-toggle='tooltip' data-placement='top' title='Disqus').social-button.shape-square.sb-disqus.sb-light-skin
            i.socicon-disqus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Dribbble').social-button.shape-square.sb-dribbble.sb-light-skin
            i.socicon-dribbble
          a(href='#' data-toggle='tooltip' data-placement='top' title='Drupal').social-button.shape-square.sb-drupal.sb-light-skin
            i.socicon-drupal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Email').social-button.shape-square.sb-email.sb-light-skin
            i.socicon-mail
          a(href='#' data-toggle='tooltip' data-placement='top' title='Facebook').social-button.shape-square.sb-facebook.sb-light-skin
            i.socicon-facebook
          a(href='#' data-toggle='tooltip' data-placement='top' title='Flickr').social-button.shape-square.sb-flickr.sb-light-skin
            i.socicon-flickr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Foursquare').social-button.shape-square.sb-foursquare.sb-light-skin
            i.socicon-foursquare
          a(href='#' data-toggle='tooltip' data-placement='top' title='GitHub').social-button.shape-square.sb-github.sb-light-skin
            i.socicon-github
          a(href='#' data-toggle='tooltip' data-placement='top' title='Google +').social-button.shape-square.sb-google-plus.sb-light-skin
            i.socicon-googleplus
          a(href='#' data-toggle='tooltip' data-placement='top' title='Instagram').social-button.shape-square.sb-instagram.sb-light-skin
            i.socicon-instagram
          a(href='#' data-toggle='tooltip' data-placement='top' title='LastFM').social-button.shape-square.sb-lastfm.sb-light-skin
            i.socicon-lastfm
          a(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn').social-button.shape-square.sb-linkedin.sb-light-skin
            i.socicon-linkedin
          a(href='#' data-toggle='tooltip' data-placement='top' title='Odnoklassniki').social-button.shape-square.sb-odnoklassniki.sb-light-skin
            i.socicon-odnoklassniki
          a(href='#' data-toggle='tooltip' data-placement='top' title='PayPal').social-button.shape-square.sb-paypal.sb-light-skin
            i.socicon-paypal
          a(href='#' data-toggle='tooltip' data-placement='top' title='Pinterest').social-button.shape-square.sb-pinterest.sb-light-skin
            i.socicon-pinterest
          a(href='#' data-toggle='tooltip' data-placement='top' title='Reddit').social-button.shape-square.sb-reddit.sb-light-skin
            i.socicon-reddit
          a(href='#' data-toggle='tooltip' data-placement='top' title='RSS').social-button.shape-square.sb-rss.sb-light-skin
            i.socicon-rss
          a(href='#' data-toggle='tooltip' data-placement='top' title='Skype').social-button.shape-square.sb-skype.sb-light-skin
            i.socicon-skype
          a(href='#' data-toggle='tooltip' data-placement='top' title='SoundCloud').social-button.shape-square.sb-soundcloud.sb-light-skin
            i.socicon-soundcloud
          a(href='#' data-toggle='tooltip' data-placement='top' title='Stack Overflow').social-button.shape-square.sb-stackoverflow.sb-light-skin
            i.socicon-stackoverflow
          a(href='#' data-toggle='tooltip' data-placement='top' title='Steam').social-button.shape-square.sb-steam.sb-light-skin
            i.socicon-steam
          a(href='#' data-toggle='tooltip' data-placement='top' title='StumbleUpon').social-button.shape-square.sb-stumbleupon.sb-light-skin
            i.socicon-stumbleupon
          a(href='#' data-toggle='tooltip' data-placement='top' title='Tumblr').social-button.shape-square.sb-tumblr.sb-light-skin
            i.socicon-tumblr
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitch').social-button.shape-square.sb-twitch.sb-light-skin
            i.socicon-twitch
          a(href='#' data-toggle='tooltip' data-placement='top' title='Twitter').social-button.shape-square.sb-twitter.sb-light-skin
            i.socicon-twitter
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vimeo').social-button.shape-square.sb-vimeo.sb-light-skin
            i.socicon-vimeo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vine').social-button.shape-square.sb-vine.sb-light-skin
            i.socicon-vine
          a(href='#' data-toggle='tooltip' data-placement='top' title='Vkontakte').social-button.shape-square.sb-vk.sb-light-skin
            i.socicon-vkontakte
          a(href='#' data-toggle='tooltip' data-placement='top' title='WordPress').social-button.shape-square.sb-wordpress.sb-light-skin
            i.socicon-wordpress
          a(href='#' data-toggle='tooltip' data-placement='top' title='Xing').social-button.shape-square.sb-xing.sb-light-skin
            i.socicon-xing
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yahoo!').social-button.shape-square.sb-yahoo.sb-light-skin
            i.socicon-yahoo
          a(href='#' data-toggle='tooltip' data-placement='top' title='Yelp').social-button.shape-square.sb-yelp.sb-light-skin
            i.socicon-yelp
          a(href='#' data-toggle='tooltip' data-placement='top' title='YouTube').social-button.shape-square.sb-youtube.sb-light-skin
            i.socicon-youtube
      
      .col-lg-3.col-md-4.order-md-1
        //- Side Menu
        include ../partials/side-menu
        .mb-2.hidden-md-up