extends ../partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Documentation'
  - var isNestedFile = true
  - var parentMenu = 'Pages'
  - var menuTitle = 'Changing Footer Skin'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Documentation'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-1
    .row
      .col-lg-9.col-md-8
        h2.mb-4 Changing Footer Skin
        p There is a new Light Footer skin since version 1.3. To switch from defaul <strong>Dark Footer</strong> to new <strong>Light version</strong> you have to follow certain steps:
        ol
          li Add <code>.footer-light</code> class to <code>.site-footer</code>.
          li Remove all instances of <code>.widget-light-skin, .mb-light-skin, .text-white, .navi-link-light, .sb-light-skin, .input-light, .hr-light</code> classes from all respective components inside footer.

      .col-lg-3.col-md-4
        //- Side Menu
        include ../partials/docs-menu