// Toast - Top Center
div(id='toast-top-center' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.top-center
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.

// Toast - Top Right
div(id='toast-top-right' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.top-right
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.

// Toast - Top Left
div(id='toast-top-left' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.top-left
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.

// Toast - Bottom Center
div(id='toast-bottom-center' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.bottom-center
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.

// Toast - Bottom Right
div(id='toast-bottom-right' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.bottom-right
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.

// Toast - Bottom Left
div(id='toast-bottom-left' role='alert' aria-live='assertive' aria-atomic='true' data-autohide='true' data-delay='2000').toast.position-fixed.bottom-left
  .toast-header
    div(style='width: 25px; height: 25px;').d-inline-block.align-middle.bg-primary.rounded.mr-2
    strong.mr-auto Bootstrap
    small 11 mins ago
    button(type='button' data-dismiss='toast' aria-label='Close').ml-2.close
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.
