// Entry Navigation
.entry-navigation
  .column.text-left
    a(href='#' class='btn btn-outline-secondary btn-sm')
      i.icon-chevron-left
      | &nbsp;Prev
  .column
    a(href='#' class='btn btn-outline-secondary view-all' data-toggle='tooltip' data-placement='top' title='All entries')
      i.icon-menu
  .column.text-right
    a(href='#' class='btn btn-outline-secondary btn-sm')
      | Next&nbsp;
      i.icon-chevron-right
