doctype html
html(lang="en")

  //- head.pug template
  include head 
  
  // Body
  body

    //- modal-example.pug template
    if isModalExample
      include modal-example

    //- bootstrap-toast.pug template
    if isBSToast
      include bootstrap-toast

    //- modal-ticket.pug template
    if isModalTicket
      include modal-ticket

    //- modal-order.pug template
    if isModalOrder
      include modal-order
      
    //- modal-review.pug template
    if isModalReview
      include modal-review

    //- navbar.pug template
    if isHeader
      include header

    //- page-title.pug template
    if isPageTitle
      include page-title

    // Page Content
    block content

    //- footer.pug template
    if isFooter
      include footer

    //- photoswipe.pug template
    if isGallery
      include photoswipe
    
    // Back To Top Button
    a(href='#').scroll-to-top-btn
      i.icon-chevron-up

    // Backdrop
    .site-backdrop
    
    // JavaScript (jQuery) libraries, plugins and custom scripts
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': 'js/vendor.min.js'})
    if isCardScript
      script()&attributes(isNestedFile ? {'src': '../js/card.min.js'} : {'src': 'js/card.min.js'})
    script()&attributes(isNestedFile ? {'src': '../js/scripts.min.js'} : {'src': 'js/scripts.min.js'})
