.dropdown-menu.mega-dropdown
  .row
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/01.jpg'} : {'src': 'img/shop/header-categories/01.jpg'}).d-block
        span.text-gray-dark Computers &amp; Accessories
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/02.jpg'} : {'src': 'img/shop/header-categories/02.jpg'}).d-block
        span.text-gray-dark Smartphones &amp; Tablets
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/03.jpg'} : {'src': 'img/shop/header-categories/03.jpg'}).d-block
        span.text-gray-dark TV, Video &amp; Audio
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/04.jpg'} : {'src': 'img/shop/header-categories/04.jpg'}).d-block
        span.text-gray-dark Cameras, Photo &amp; Video
  .row
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/05.jpg'} : {'src': 'img/shop/header-categories/05.jpg'}).d-block
        span.text-gray-dark Headphones
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/06.jpg'} : {'src': 'img/shop/header-categories/06.jpg'}).d-block
        span.text-gray-dark Wearable Electronics
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/07.jpg'} : {'src': 'img/shop/header-categories/07.jpg'}).d-block
        span.text-gray-dark Printers &amp; Ink
    .col-sm-3
      a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).d-block.navi-link.text-center.mb-30
        img()&attributes(isNestedFile ? {'src': '../img/shop/header-categories/08.jpg'} : {'src': 'img/shop/header-categories/08.jpg'}).d-block
        span.text-gray-dark Video Games
