ul.mega-menu
  li
    span.mega-menu-title Top Categories
    ul.sub-menu
      li: a(href='#') Computers &amp; Accessories
      li: a(href='#') Smartphones &amp; Tablets
      li: a(href='#') TV, Video &amp; Audio
      li: a(href='#') Cameras, Photo &amp; Video
      li: a(href='#') Headphones
      li: a(href='#') Wearable Electronics
      li: a(href='#') Printers &amp; Ink
      li: a(href='#') Video Games
  li
    span.mega-menu-title Popular Brands
    ul.sub-menu
      li: a(href='#') Apple
      li: a(href='#') Canon Inc.
      li: a(href='#') Hewlett-Packard
      li: a(href='#') Lenovo
      li: a(href='#') Panasonic
      li: a(href='#') Samsung Electronics
      li: a(href='#') Sony
      li: a(href='#') Toshiba
  li
    span.mega-menu-title Store Locator
    .card.mb-3
      .card-body
        ul.list-icon
          li 
            i.icon-map-pin.text-muted
            | 514 S. Magnolia St. Orlando, FL 32806, USA
          li 
            i.icon-phone.text-muted
            | +1 (786) 322 560 40
          li.mb-0
            i.icon-mail.text-muted
            a(href='mailto:orlando.store@unishop.com').navi-link orlando.store@unishop.com
    .card
      .card-body
        ul.list-icon
          li 
            i.icon-map-pin.text-muted
            | 44 Shirley Ave. West Chicago, IL 60185, USA
          li 
            i.icon-phone.text-muted
            | +1 (847) 252 765 33
          li.mb-0
            i.icon-mail.text-muted
            a(href='mailto:chicago.store@unishop.comm').navi-link chicago.store@unishop.com
  li
    a()&attributes(isNestedFile ? {'href': '../shop-grid-ls.html'} : {'href': 'shop-grid-ls.html'}).card.border-0.bg-secondary.rounded-0
      img(alt='Samsung Galaxy S9')&attributes(isNestedFile ? {'src': '../img/banners/mega-menu.jpg'} : {'src': 'img/banners/mega-menu.jpg'} ).d-block.mx-auto
