ul.mega-menu
  li
    span.mega-menu-title A - F
    +megamenu-links([
      {'link': 'accordion.html', 'title': 'Accordion'},
      {'link': 'alerts.html', 'title': 'Alerts'},
      {'link': 'buttons.html', 'title': 'Buttons'},
      {'link': 'cards.html', 'title': 'Cards'},
      {'link': 'carousel.html', 'title': 'Carousel'},
      {'link': 'countdown.html', 'title': 'Countdown'},
      {'link': 'forms.html', 'title': 'Forms'},
    ])
  li
    span.mega-menu-title G - M
    +megamenu-links([
      {'link': 'gallery.html', 'title': 'Gallery'},
      {'link': 'google-maps.html', 'title': 'Google Maps'},
      {'link': 'images.html', 'title': 'Images & Figures'},
      {'link': 'list-group.html', 'title': 'List Group'},
      {'link': 'market-social-buttons.html', 'title': 'Market & Social Buttons'},
      {'link': 'media.html', 'title': 'Media Object'},
      {'link': 'modal.html', 'title': 'Modal'},
    ])
  li
    span.mega-menu-title P - T
    +megamenu-links([
      {'link': 'pagination.html', 'title': 'Pagination'},
      {'link': 'pills.html', 'title': 'Pills'},
      {'link': 'progress-bars.html', 'title': 'Progress Bars'},
      {'link': 'shop-items.html', 'title': 'Shop Items'},
      {'link': 'spinners.html', 'title': 'Spinners'},
      {'link': 'steps.html', 'title': 'Steps'},
      {'link': 'tables.html', 'title': 'Tables'},
    ])
  li
    span.mega-menu-title T - W
    +megamenu-links([
      {'link': 'tabs.html', 'title': 'Tabs'},
      {'link': 'team.html', 'title': 'Team'},
      {'link': 'toasts.html', 'title': 'Toast Notifications'},
      {'link': 'tooltips-popovers.html', 'title': 'Tooltips & Popovers'},
      {'link': 'typography.html', 'title': 'Typography'},
      {'link': 'video-player.html', 'title': 'Video Player'},
      {'link': 'widgets.html', 'title': 'Widgets'}
    ])
