h3.padding-top-3x.padding-bottom-1x You May Also Like
.owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "loop": false, "autoHeight": true, "margin": 30, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }')
  .widget.widget-featured-posts
    .entry
      .entry-thumb
        a(href='blog-single-rs.html')
          img(src='img/blog/widget/01.jpg', alt='Post')
      .entry-content
        h4.entry-title
          a(href='blog-single-rs.html') Factors Behind Wearable Gadgets Popularity
        span.entry-meta by Olivia Reyes
  .widget.widget-featured-posts
    .entry
      .entry-thumb
        a(href='blog-single-rs.html')
          img(src='img/blog/widget/02.jpg', alt='Post')
      .entry-content
        h4.entry-title
          a(href='blog-single-rs.html') Smartphones in Every Day Life 
        span.entry-meta by Logan Coleman
  .widget.widget-featured-posts
    .entry
      .entry-thumb
        a(href='blog-single-rs.html')
          img(src='img/blog/widget/03.jpg', alt='Post')
      .entry-content
        h4.entry-title
          a(href='blog-single-rs.html') Retro Cameras are Trending. Why so Popular?
        span.entry-meta by Cynthia Gomez
  .widget.widget-featured-posts
    .entry
      .entry-thumb
        a(href='blog-single-rs.html')
          img(src='img/blog/widget/05.jpg', alt='Post')
      .entry-content
        h4.entry-title
          a(href='blog-single-rs.html') Smart Homes Become Even More Smart
        span.entry-meta by Cedric Diggory
  .widget.widget-featured-posts
    .entry
      .entry-thumb
        a(href='blog-single-rs.html')
          img(src='img/blog/widget/04.jpg', alt='Post')
      .entry-content
        h4.entry-title
          a(href='blog-single-rs.html') Control Smartphone With Thumb. Tips &amp; Tricks
        span.entry-meta by Logan Coleman
