// Related Products Carousel
h3.text-center.padding-top-2x.mt-2.padding-bottom-1x You May Also Like
// Carousel
.owl-carousel(data-owl-carousel='{ "nav": false, "dots": true, "margin": 30, "responsive": {"0":{"items":1},"576":{"items":2},"768":{"items":3},"991":{"items":4},"1200":{"items":4}} }')

  // Product
  .product-card
    .product-badge.bg-danger Sale
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/01.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Smart home
      h3.product-title
        a(href='shop-single.html') Echo Dot (2nd Generation)
      h4.product-price
        del $62.00
        | $49.99
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart

  // Product
  .product-card
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/11.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Headphones
      h3.product-title
        a(href='shop-single.html') Edifier W855BT Bluetooth
      h4.product-price $99.75
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart

  // Product
  .product-card
    +rating-stars([
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'}
    ])
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/06.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Video games
      h3.product-title
        a(href='shop-single.html') Xbox One S White
      h4.product-price $298.99
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart

  // Product
  .product-card
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/07.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Smartphones
      h3.product-title
        a(href='shop-single.html') Samsung Galaxy S9+
      h4.product-price $839.99
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart

  // Product
  .product-card
    .product-badge.bg-secondary.border-default.text-body Out of stock
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/12.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Wearable electornics
      h3.product-title
        a(href='shop-single.html') Apple Watch Series 3
      h4.product-price $329.10
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='shop-single.html').product-button
        i.icon-arrow-right
        span Details

  // Product
  .product-card
    +rating-stars([
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star filled'},
      {'class': 'icon-star'}
    ])
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/10.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Printers &amp; Ink
      h3.product-title
        a(href='shop-single.html') HP LaserJet Pro Printer
      h4.product-price $249.50
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart

  // Product
  .product-card
    .product-badge.bg-danger Sale
    a(href='shop-single.html').product-thumb
      img(src='img/shop/products/09.jpg' alt='Product')
    .product-card-body
      .product-category
        a(href='#') Action cameras
      h3.product-title
        a(href='shop-single.html') Samsung Gear 360 Camera
      h4.product-price
        del $74.00
        | $68.00
    .product-button-group
      a( href='#').product-button.btn-wishlist
        i.icon-heart
        span Wishlist
      a( href='#').product-button.btn-compare
        i.icon-repeat
        span Compare
      a( href='#' data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-check-circle' data-toast-title='Product' data-toast-message='successfuly added to cart!').product-button
        i.icon-shopping-cart
        span To Cart
