a(href='shop-grid-ls.html' style='background-image: url(img/banners/shop-banner-bg.jpg);').alert.alert-default.alert-dismissible.fade.show.fw-section.mb-30
  span(data-dismiss='alert').alert-close
  .d-flex.flex-wrap.flex-md-nowrap.justify-content-between.align-items-center
    div.mx-auto.mx-md-0.px-3.pb-2.text-center.text-md-left
      span.d-block.text-lg.text-thin.mb-2 Limited Time Deals
      h3.text-gray-dark Surface Pro 4
      p.d-inline-block.bg-warning.text-white
        | &nbsp;&nbsp;Shop Now&nbsp;
        i.icon-chevron-right.d-inline-block.align-middle
        | &nbsp;
    img(src='img/banners/shop-banner.png' alt='Surface Pro 4').d-block.mx-auto.mx-md-0