//- Page title
- var pageTitle = "Unishop | Universal E-Commerce Template"

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isHeader = true
- var isFooter = true
- var isGhostHeader = false
- var isDarkHeader = false
- var isPageTitle = true
- var isGoogleMap = false
- var isBSToast = false
- var isModalExample = false
- var isModalTicket = false
- var isModalOrder = false
- var isModalShopFilters = false
- var isModalShopCategories = false
- var isModalBlogSidebar = false
- var isCardScript = false
- var isGallery = false

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu
- var menuTitle