extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Shop List Left Sidebar'
  - var isModalShopFilters = true
  - var parentMenu = 'Shop'
  - var menuTitle = 'List Left Sidebar'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Shop List Left Sidebar'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-1
    .row

      // Products
      .col-xl-9.col-lg-8.order-lg-2

        // Shop Toolbar
        .shop-toolbar.padding-bottom-1x.mb-2
          .column
            .shop-sorting
              label(for='sorting') Sort by:
              select(id='sorting').form-control
                option Popularity
                option Low - High Price
                option High - Low Price
                option Avarage Rating
                option A - Z Order
                option Z - A Order
              span.text-muted Showing:&nbsp;
              span 1 - 12 items
          .column
            .shop-view
              a(href='shop-grid-ls.html' class='grid-view')
                span
                span
                span
              a(href='shop-list-ls.html' class='list-view active')
                span
                span
                span
      
        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            .product-badge.text-danger 50% Off
            img(src='img/shop/products/01.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Unionbay Park
            h4.product-price
              del $99.99
              | $49.99
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-circle-check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-outline-primary.btn-sm Add to Cart

        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            img(src='img/shop/products/02.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Cole Haan Crossbody
            h4.product-price $200.00
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-circle-check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-outline-primary.btn-sm Add to Cart

        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            +rating-stars([
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star'}
            ])
            img(src='img/shop/products/03.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Oakley Kickback
            h4.product-price $155.00
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-circle-check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-outline-primary.btn-sm Add to Cart

        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            img(src='img/shop/products/04.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Waist Leather Belt
            h4.product-price $47.00
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-circle-check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-outline-primary.btn-sm Add to Cart

        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            .product-badge.text-muted Out of stock
            img(src='img/shop/products/10.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Daily Fabric Cap
            h4.product-price $31.99
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              a(href='shop-single.html').btn.btn-outline-secondary.btn-sm View Details

        // Product
        .product-card.product-list
          a(href='shop-single.html').product-thumb
            +rating-stars([
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'},
              {'class': 'icon-star filled'}
            ])
            img(src='img/shop/products/11.jpg' alt='Product')
          .product-info
            h3.product-title
              a(href='shop-single.html') Top-Sider Fathom
            h4.product-price $90.00
            p.hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit officiis illo perferendis deserunt, ipsam dolor ad dolorem eaque veritatis harum facilis aliquid id doloribus incidunt quam beatae, soluta magni alori sedum quanto.
            .product-buttons
              button(data-toggle='tooltip' title='Whishlist').btn.btn-outline-secondary.btn-sm.btn-wishlist
                i.icon-heart
              button(data-toast data-toast-type='success' data-toast-position='topRight' data-toast-icon='icon-circle-check' data-toast-title='Product' data-toast-message='successfuly added to cart!').btn.btn-outline-primary.btn-sm Add to Cart
        
        .pt-2
          include partials/pagination
          
      // Sidebar          
      .col-xl-3.col-lg-4.order-lg-1
        include partials/shop-sidebar